<% include partials/header%>
<% include partials/topbar %>

<section class="container">
  <div class="left-half">
    <article>
      <a href="#" class="Button">Sell a Dish</a>

      <p>Something Something Something about Selling your home-cooked dishes</p>
    </article>
  </div>
  <div class="right-half">
    <article>
      <a href="#" class="Button">Buy a Dish</a>
      <p>Yada yada yada buy food from your neighbors</p>
    </article>
  </div>
</section>

<% include partials/footer %>
