<ul class="nav">
   <a align="center" href=""><li>Terms</li></a>
   <a align="center" href=""><li>About</li></a>
   <a align="center" href="#/home"><li><img height="35px" src="chefhat.png"></li></a>
   <a align="center" href="#"><li>Contact</li></a>
   <a align="center" href="#/profile"><li>Profile</li></a>
</ul>

<div id="map">
  <script>
        function initMap() {
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
              center: {lat: 44.540, lng: -78.546},
              zoom: 8
          });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    </script>
</div>


<table align="center" class="table">
  <thead>
    <tr>
      <th>CHEF</th>
      <th>DISH</th>
      <th>CONTACT</th>
      <th>LOCATION</th>
      <th>DESCRIPTION</th>
      <th>TIME</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Paul Bridi</td>
      <td>Pasta</td>
      <td>5133578998</td>
      <td>30 helene rd newton</td>
      <td>Delicaious and nutricious pasta carbonara</td>
      <td>3:00-4:00</td>
    </tr>
    <tr>
      <td>chef</td>
      <td>dish</td>
      <td>contact</td>
      <td>location</td>
      <td>description</td>
      <td>time</td>
    </tr><tr>
      <td>chef</td>
      <td>dish</td>
      <td>contact</td>
      <td>location</td>
      <td>description</td>
      <td>time</td>
    </tr>
  </tbody>
</table>
