<% include partials/header%>
<% include partials/topbar %>


<form id="signup">
	Email: <input type="email" name="email" id="email"/>
	Password: <input type="password" name="password" id="password"/>
	<button type="submit" onClick="signup()">Go</button>
</form>

<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/3.0.5/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-database.js"></script>
<script>
var config = {
	apiKey: "AIzaSyAFeKB5L3QbetPlLDFhuftMqTUTuUhkKhM",
	authDomain: "angular-project-31b5c.firebaseapp.com",
	databaseURL: "https://angular-project-31b5c.firebaseio.com",
	storageBucket: "angular-project-31b5c.appspot.com",
};
firebase.initializeApp(config);
var signup = function(){
	var email=$("#email").val();
	var password = $("#password").val();
	firebase.auth().createUserWithEmailAndPassword(email, password).catch(function(error) {
	  // Handle Errors here.
	  var errorCode = error.code;
	  var errorMessage = error.message;
	  // ...
	});
};

</script>

<% include partials/footer %>