form {
	box-sizing: border-box;
	text-align: left;
	width: 750px;
	max-width: 95%;
	margin: 0 auto;
}

form label, form input, form textarea {
	display: block;
	width: 100%;
}

form label {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 24px;
}

form input, form textarea {
	box-sizing: border-box;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 500;
	color: #555555;
	background-color: white;
	border: 1px solid #92ecfa;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	margin-bottom: 15px;
}

form input:focus, form textarea:focus {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

form input[type=text] {
	height: 35px;
}

form input[type=submit] {
	height: 50px;
	background-color: #61e4f8;
	color: white;
	font-weight: 700;
	margin-top: 45px;
	box-shadow: none;
}

form input[type=submit]:hover {
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	-moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	background-color: #61e4f8;
	cursor: pointer;
}

form textarea {
	resize: none;
	font-family: arial;
}

div.form_error {
	font-size: 75%;
	color: #ff6699;
}

div.pagination a {
	text-decoration: none;
}

.topbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #92ecfa;
	bottom-border: 1px solid #79201E;
	box-shadow: 0px 3px 20px 0px rgba(50, 50, 60, 0.5);
	height: 45px;
	font-size: 16px;
	font-weight: 900;
	z-index: 10;
	text-align: center;
}

.topbar ul {
	list-style: none;
	margin: 0 auto;
	padding: 0px;
	height: 100%;
	display: inline-block;
}

.topbar ul li {
	height: 100%;
	float: left;
	line-height: 20px;
}

.topbar a {
	margin: 0.2em;
	display: inline-block;
	border-radius: 2em;
	padding: 0.6em;
	color: #fdfdfd;
	-moz-transition: background 300ms ease 0s;
	-o-transition: background 300ms ease 0s;
	-webkit-transition: background 300ms ease 0s;
	transition: background 300ms ease 0s;
	text-decoration: none;
	text-shadow: 0 0 1px black;
	box-sizing: border-box;
}

.topbar a:hover {
	background-color: #61e4f8;
}

.topbar #top-bar-logo {
	display: inline-block;
	position: relative;
	margin: 0 0.5em;
	padding: 0;
	top: 50%;
	-moz-transform: TranslateY(-50%);
	-o-transform: TranslateY(-50%);
	-ms-transform: TranslateY(-50%);
	-webkit-transform: TranslateY(-50%);
	transform: TranslateY(-50%);
	width: auto;
	height: 45px;
}

.topbar #top-bar-logo:hover {
	background-color: transparent;
}

.topbar #top-bar-logo img {
	height: 45px;
}

.topbar .mobile-menu-button, .topbar .mobile-logo {
	display: none;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 1024px) {
	.topbar {
		text-align: left;
		height: 100px;
	}

	.topbar ul {
		background-color: #222;
		position: fixed;
		top: 100px;
		bottom: 0px;
		left: -300px;
		width: 300px;
		-moz-transition: 500ms all ease;
		-o-transition: 500ms all ease;
		-webkit-transition: 500ms all ease;
		transition: 500ms all ease;
	}

	.topbar ul li {
		display: block;
		float: none;
		height: 45px;
	}

	.topbar ul #logo-list-item {
		text-align: center;
		height: 85px;
		margin: 10px 0;
	}

	.topbar ul.open {
		left: 0;
	}

	.topbar a {
		margin: 0;
		padding: 0 0 0 20px;
		height: 100%;
		width: 100%;
		text-shadow: none;
		border-radius: 0;
		line-height: 45px;
	}

	.topbar #top-bar-logo {
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		border-radius: 2em;
		height: 80px;
		padding: 0 80px;
		line-height: normal;
	}

	.topbar #top-bar-logo img {
		height: 80px;
	}

	.topbar .mobile-menu-button {
		display: block;
		position: relative;
		top: 30px;
		left: 40px;
		height: 35px;
		width: 35px;
		cursor: pointer;
	}

	.topbar .mobile-menu-button .bar {
		width: 30px;
		height: 5px;
		margin-bottom: 5px;
		background-color: white;
		border-radius: 2em;
		margin-left: 2px;
		-moz-transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
		-o-transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
		-webkit-transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
		transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
	}

	.topbar .mobile-menu-button #bar1 {
		margin-top: 5px;
	}

	.topbar .mobile-menu-button.open #bar1 {
		-moz-transform: rotate(-45deg) translate(-3px, 3px);
		-o-transform: rotate(-45deg) translate(-3px, 3px);
		-ms-transform: rotate(-45deg) translate(-3px, 3px);
		-webkit-transform: rotate(-45deg) translate(-3px, 3px);
		transform: rotate(-45deg) translate(-3px, 3px);
		width: 15px;
	}

	.topbar .mobile-menu-button.open #bar3 {
		-moz-transform: rotate(45deg) translate(-3px, -3px);
		-o-transform: rotate(45deg) translate(-3px, -3px);
		-ms-transform: rotate(45deg) translate(-3px, -3px);
		-webkit-transform: rotate(45deg) translate(-3px, -3px);
		transform: rotate(45deg) translate(-3px, -3px);
		width: 15px;
	}

	.topbar .mobile-logo {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 10px;
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 80%;
	}

	.topbar .mobile-logo img {
		height: 100%;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-device-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (min-resolution: 192dpi) and (max-device-width: 1024px), only screen and (min-resolution: 2dppx) and (max-device-width: 1024px) {
	.topbar {
		text-align: left;
		height: 100px;
	}

	.topbar ul {
		background-color: #222;
		position: fixed;
		top: 100px;
		bottom: 0px;
		left: -300px;
		width: 300px;
		-moz-transition: 500ms all ease;
		-o-transition: 500ms all ease;
		-webkit-transition: 500ms all ease;
		transition: 500ms all ease;
	}

	.topbar ul li {
		display: block;
		float: none;
		height: 45px;
	}

	.topbar ul #logo-list-item {
		text-align: center;
		height: 85px;
		margin: 10px 0;
	}

	.topbar ul.open {
		left: 0;
	}

	.topbar a {
		margin: 0;
		padding: 0 0 0 20px;
		height: 100%;
		width: 100%;
		text-shadow: none;
		border-radius: 0;
		line-height: 45px;
	}

	.topbar #top-bar-logo {
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		border-radius: 2em;
		height: 80px;
		padding: 0 80px;
		line-height: normal;
	}

	.topbar #top-bar-logo img {
		height: 80px;
	}

	.topbar .mobile-menu-button {
		display: block;
		position: relative;
		top: 30px;
		left: 40px;
		height: 35px;
		width: 35px;
		cursor: pointer;
	}

	.topbar .mobile-menu-button .bar {
		width: 30px;
		height: 5px;
		margin-bottom: 5px;
		background-color: white;
		border-radius: 2em;
		margin-left: 2px;
		-moz-transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
		-o-transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
		-webkit-transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
		transition: 500ms all cubic-bezier(0.87, -0.41, 0.19, 1.44);
	}

	.topbar .mobile-menu-button #bar1 {
		margin-top: 5px;
	}

	.topbar .mobile-menu-button.open #bar1 {
		-moz-transform: rotate(-45deg) translate(-3px, 3px);
		-o-transform: rotate(-45deg) translate(-3px, 3px);
		-ms-transform: rotate(-45deg) translate(-3px, 3px);
		-webkit-transform: rotate(-45deg) translate(-3px, 3px);
		transform: rotate(-45deg) translate(-3px, 3px);
		width: 15px;
	}

	.topbar .mobile-menu-button.open #bar3 {
		-moz-transform: rotate(45deg) translate(-3px, -3px);
		-o-transform: rotate(45deg) translate(-3px, -3px);
		-ms-transform: rotate(45deg) translate(-3px, -3px);
		-webkit-transform: rotate(45deg) translate(-3px, -3px);
		transform: rotate(45deg) translate(-3px, -3px);
		width: 15px;
	}

	.topbar .mobile-logo {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 10px;
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		height: 80%;
	}

	.topbar .mobile-logo img {
		height: 100%;
	}
}

.window {
	width: 75%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding: 20px;
}

.window img {
	width: 90%;
}

.window#tos {
	background-color: white;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 1024px) {
	.window {
		width: 90%;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-device-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (min-resolution: 192dpi) and (max-device-width: 1024px), only screen and (min-resolution: 2dppx) and (max-device-width: 1024px) {
	.window {
		width: 90%;
	}
}

table.ads-table {
	width: 100%;
	text-align: left;
	vertical-align: middle;
	border-collapse: collapse;
}

table.ads-table thead {
	border-bottom: 2px solid #CACACA;
}

table.ads-table td, table.ads-table th {
	padding: 10px;
}

table.ads-table tr {
	border-top: 1px solid #CACACA;
}

table.ads-table tr:first-child {
	border-top: none;
}

html {
	min-height: 100%;
}

body {
	margin: 0px;
	background-image: image-url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}

.content {
	margin-top: 45px;
	padding: 20px;
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 1024px) {
	.content {
		top: 100px;
		-moz-transition: 500ms all ease;
		-o-transition: 500ms all ease;
		-webkit-transition: 500ms all ease;
		transition: 500ms all ease;
	}

	.content.open {
		-moz-transform: translateX(300px);
		-o-transform: translateX(300px);
		-ms-transform: translateX(300px);
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-device-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-device-width: 1024px), only screen and (min-resolution: 192dpi) and (max-device-width: 1024px), only screen and (min-resolution: 2dppx) and (max-device-width: 1024px) {
	.content {
		top: 100px;
		-moz-transition: 500ms all ease;
		-o-transition: 500ms all ease;
		-webkit-transition: 500ms all ease;
		transition: 500ms all ease;
	}

	.content.open {
		-moz-transform: translateX(300px);
		-o-transform: translateX(300px);
		-ms-transform: translateX(300px);
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
}

body {
	font-family: sans-serif;
}

h1 {
	font-size: 300%;
}

h2.subtitle {
	color: grey;
}

#tos h1 {
	font-size: 250%;
}

#tos h2 {
	font-size: 175%;
}

#tos h3 {
	font-size: 125%;
}

#tos p {
	font-weight: bold;
}

#tos p.small {
	font-size: 75%;
}

table.ads-table {
	width: 100%;
	text-align: left;
	vertical-align: middle;
	border-collapse: collapse;
}

table.ads-table thead {
	border-bottom: 2px solid #CACACA;
}

table.ads-table td, table.ads-table th {
	padding: 10px;
}

table.ads-table tr {
	border-top: 1px solid #CACACA;
}

table.ads-table tr:first-child {
	border-top: none;
}