.nav{
  position: fixed;
  background-color: #75d0f4;
  color: #ffffff;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Source Sans Pro;
  height: 65px;
  top: 0;
  width: 100%;
  z-index: 98;
}


.nav > a > li {
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 15px 15px 15px;
}

.nav > a > li > div:hover{
  background-color: #8e44ad;
  }

  
