.background{
  background-image: url(/imgs/Optimized-appetite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 450px;
  background-position:center;
  padding: 7.5% 0;

}


body{
  margin: 0;
  padding: 0;
  font-family: europa;
}

.nav{
  background-color: #75d0f4;
  color: #ffffff;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Source Sans Pro;
}


.nav > a > li {
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 15px 15px 15px;
}

.nav > a > li > div:hover{
  background-color: #8e44ad;
  }

* {
  box-sizing: border-box;
}
section {
  color: #fff;
}
div {
  height: 100%;
}
article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}
h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}
/* Pattern styles */
.container {
  display: table;
  width: 100%;
}
.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 50%;
}
.right-half {
  background-color: #b6701e;
  position: absolute;
  right: 0px;
  width: 50%;
}


.Button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button:hover {
	background-color:#5cbf2a;
}
.Button:active {
	position:relative;
	top:1px;
}


.submitdish {
  background-color: beige;

}

.homebuttons {
  padding: 15% 0;
}


.dishselect:hover {
  background-color: #FFFCD1;
}


.quotes {
  text-align:center;
  font-size:25px;
  color:#7f7f7f;
  font-style:italic;
  padding-bottom:1px;
  height:75px;
}

.ourmission {
  color:#7f7f7f;
  padding: 10px;
  font-size:35px;
  text-align:center;
}

.logo {
  padding:70px;
  padding-bottom: 40px;
}

.video {
  padding-top: 50px;
}

.mainlogo {
  padding:10%;
  padding-bottom: 0;
}

.profile-header-img {
    margin: 0 auto;
    text-align: center;
    float: left;
}

.profile-header-img > img.img-circle {
    width: 65px;
    height: 65px;
    border: 3px solid #75d0f4;
    position: relative;
    z-index: 1;

}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -17px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #75d0f4;
    padding: 0px 2px 0px 2px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}


.allitems {
  position: relative;
  width: 48%;
  margin-left: 20px;
  top: 25px;
}

#listitem {
  overflow: visible;
  height: 65px;
  text-align: center;

}

#dishbanner {

  position:relative;
  width: auto;
  margin-left: 35px;
  height: 65px;
  border-radius: 6px;
  z-index: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px  solid #75d0f4;
  min-height: 65px;
  line-height:55px;
  background-color: white;
}

#dishtitle {
  color: black;
  font-family: Source Sans Pro;
  font-size: 3.0vw;
  background-color: white;
  display: inline-block;
}

#dishtime {
  color: white;
  font-family: Source Sans Pro;
  font-size: 2.0vw;
  float: bottom;
  text-align: center;
  border: 1px solid white;
  margin-bottom: 1px;
}


#dishphone {
  color: white;
  font-family: Source Sans Pro;
  font-size: 2.0vw;
  float: bottom;
  text-align: center;
  border: 1px solid white;
  margin-bottom: 1px;
}



#dishlocation {
  color: white;
  font-family: Source Sans Pro;
  font-size: 2.0vw;
  float: bottom;
  text-align: center;
  border: 1px solid white;
}



#dishprice {
  color: black;
  font-family: Source Sans Pro;
  font-size: 3.0vw;
  background-color: white;
  display: inline-block;
  float:right;
  color: green;
  margin-right: 5px;

}



#itemdetails {
  background-color: #75d0f4;
  color: white;
  font-family: Source Sans Pro;
  border-radius: 6px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px  solid #75d0f4;

}

#map{
  height: 60vw;
  width: 60vw;
}
