<ul class="nav" ng-controller="navController">
  <a href="#/aboutus"><li class="navelements">About Us</li></a>
  <a href="#/home"><div class="navlogo"><img height="60px" src="/imgs/chefhat.png"></div></a>
  <a href="#/account"><li class="navelements">My Account</li></a>


  <div class="morph-button morph-button-modal1 morph-button-modal-2 morph-button-fixed" id="submitdishbutton">
    <button type="button" id="cookbutton" ng-click="dish.submitSuccess=false">Cook</button>
    <div class="morph-content">
        <div class="content-style-form content-style-form-1">
            <span class="icon icon-close">Close the dialog</span>
            <h2>Sell a Dish</h2>
            {{message}}
            <div class="warning" ng-repeat="warning in dish.warnings">{{warning.warningMessage}}</div>
            <div class="warning" ng-repeat="error in dish.errors">{{error.errorMessage}}</div>

            <div id="fullformsubmit">
            <form>

              <div class="menusubmit">
                <div id="dishbox">

                  <label id="whatchamakin">What are you making?</label>
                  <input class="menutextbox" type="text" ng-model="dish.dishName" />
                </div>
                <div id="pricebox">
                  <label>Price</label>
                  <input class="menutextbox" id="pricetextbox" ng-model="dish.price" />
                </div>

                <div>
                  <label id="descriptionlabel">Description</label>
                  <textarea id="descriptiontextbox" ng-model="dish.description"></textarea>
                </div>
               </div>

               <div id="logisticssubmit">
                    <label id="whattime">Around what time?</label><br>
                    <label id="fromlabel">From:</label>
                    <input class="logistictextbox" id="submitdate" type="date" ng-model="dish.time.startTime" />
                    <input class="logistictextbox" type="time" ng-model="dish.time.startTime" step="600"/><br>
                    <label id="tolabel">To:</label>
                    <input class="logistictextbox" id="submitdate" type="date" ng-model="dish.time.endTime" />
                    <input class="logistictextbox" type="time" ng-model="dish.time.endTime" step="600"/
                </div>
                </br>
               </br>
               </br>

                <div>
                  <label id="where">Where?</label> <label id="submitedit" for="c2" ng-click="dish.useLocationCustom=!dish.useLocationCustom" ng-init="dish.useLocationCustom=false"> </label>
                  <div id="defaultaddress" ng-hide="dish.useLocationCustom">{{dish.location.name}} </div>

                  <div ng-show="dish.useLocationCustom">{{dish.locationCustom.name}}</div>

                  <div id="searchdiv" ng-show="dish.useLocationCustom">
                  <input type="text" id="addresssearch" placeholder="Search for cusom location" ng-model="searchAddress" />
                  <button id="searchbutton" ng-click="submitAddress()">Search</button>

                    <div ng-repeat="result in results" ng-click="assignLocation(result)">
                      <p class="addressresults">{{result.formatted_address}}</p>
                    </div>
                  </div>

                </div>
                    <button class="logistictextbox" type="submit"class="btn btn-default" ng-click="submitDish(dish)" ng-disabled="!dish.complete" ng-init="dish.complete=false">Submit</button>

              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

</ul>
