<ul class="nav">
  <a href="#/aboutus"><li class="navelements">About Us</li></a>
  <a href="#/home"><div class="navlogo"><img height="60px" src="/imgs/chefhat.png"></div></a>
  <a href="#/"><li class="navelements">Browse</li></a>
  <a href="#/account"><li class="navelements">My Account</li></a>
  <a href="#/home" id="logout" ng-click="signout()">Sign Out</a>
</ul>
