<ul class="nav">

  <a align="center" href="#/terms"><li class="navelements">Terms</li></a>
  <a align="center" href="#/aboutus"><li class="navelements">About Us</li></a>
  <a align="center" href="#/home"><li class="navlogo"><img height="35px" src="/imgs/chefhat.png"></li></a>
  <a align="center" href="#/"><li class="navelements">Browse</li></a>
  <a align="center" href="#/account"><li class="navelements">My Account</li></a>
</ul>
