<ul class="nav" ng-controller="navController">

  <a href="#/browse"><div class="navlogo"><img height="50px" src="/imgs/betalogo.png"></div></a>

  <div ng-init"hamclicked=true"  id="hamicon" ng-click="hamclicked=!hamclicked">
  <div ng-class="{'dropdown-content': hamclicked, 'dropdown-contentnone': !hamclicked}">
    <ul id="mobilepop">
      <a href="#/aboutus" class="noline"><li class="navelementsmobile">About Us</li></a>
      <a href="#/home" class="noline"><li class="navelementsmobile">Home</li></a>
      <div class="navelementsmobile" id="myBtnmobile" ng-show="!parentController.uid">Login</div>

      <div class="navelementsmobile" id="myBtn2mobile" ng-show="!parentController.uid">Join</div>
      <div class="navelementsmobile" id="myBtn3mobile" ng-show="parentController.uid">Cook</div>


    </ul>
  </div>
</div>




  <a href="#/aboutus"><li class="navelements" id="aboutmargin">About Us</li></a>
  <a href="#/home"><li class="navelements">Home</li></a>
  <div class="signoutdrop">
  <a href="#/account"><li class="navelements" ng-show="parentController.uid" id="profileid">Profile</li></a>
    <!-- <div class="signoutdropbutton">
      <button href="#/home" id="logout" ng-click="signout()">Sign Out</button>

    </div> -->
  </div>
  <button class="welcomebuttonright" id="myBtn" ng-show="!parentController.uid">Login</button>

  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal" ng-show="!parentController.uid">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">x</span></br>
      <div id="registertitle2">Log in</div>
          <div class="loginwarning" ng-repeat="warning in warinings">
              {{warning.errorMessage}}
          </div>
                  <form ng-submit="login(user)">
                    <div class="loginerror">
                        {{loginError}}
                    </div>
                      <label class="registerlabel">Email</label><input class="logintextbox" type="text" ng-model="user.email" />
                      <label class="registerlabel">Password</label><input class="logintextbox" type="password" ng-model="user.password" />
                      <button id="homelogin">Login</button>
                  </form>

    </div>

  </div>

  <div id="welcomebuttonrightcontainer">
  <button class="welcomebuttonright" id="myBtn2" ng-show="!parentController.uid">Join</button>
  </div>
  <div id="myModal2" class="modal2" ng-show="!parentController.user.uid">
    <!-- Modal content -->
    <div class="modal-content2">
        <span class="close2">x</span></br>
            <div id="registertitle">Join Appetite</div>
                <form ng-submit="signup(signupUser)">
                    {{signupUser}}
                    <div class="registererror">{{signupError}}</div>
                                  <div id="firstnamebox"><label class="registerlabel">First Name</label><input id="firstNameregister" type="text" ng-model="signupUser.firstName"/></div>
                                  <div id="lastnamebox"><label class="registerlabel" id="lastnamelabel">Last Name</label><input id="lastNameregister" type="text" ng-model="signupUser.lastName"/></div></br>
                                  <label class="registerlabel">Phone</label><input class="logintextbox" type="text" ng-model="signupUser.phone"/>
                                  <label class="registerlabel" id="emailspec">UniversityEmail</label><input class="logintextbox" type="text" ng-model="signupUser.signupemail"/>
                                  <label class="registerlabel">Password</label><input class="logintextbox" type="password" ng-model="signupUser.signuppassword"/>
                                  <label class="registerlabel">Confirm</label><input class="logintextbox" type="password" ng-model="signupUser.confirmpassword" />
                                  <div id="termsconsent">By joining you agree to these <a href="#/terms">Terms</a></div>
                                  <button id="homeregister" ng-disabled=" (signupUser.signuppassword!==signupUser.confirmpassword) || (!signupUser.signuppassword)">Join Appetite</button>
                </form>
      </div>
  </div>



  <button class="welcomebuttonright" id="myBtn3" ng-show="parentController.uid">Cook</button>
  <div id="myModal3" class="modal3">
    <!-- Modal content -->
    <div class="modal-content3">
            <span class="close3">x</span></br>
            <div class="warning" ng-repeat="error in dish.errors">{{error.errorMessage}}</div>

            <div class="cardsubmit">

              <div ng-if="!parentController.user">You're not logged in...boo</div>
              <div id="cardaccountform" ng-if="parentController.user">
                  <!-- Logged in as {{parentController.user.firstName}} {{parentController.user.lastName}}
                  {{dobDay}} {{dobMonth}} {{dobYear}} {{tos}} {{legalFirstName}} {{legalLastName}}<br>
 -->
                <div id="fnamebox">
                  <label class="cardlabels">First Name: </label>
                  <input type="text" ng-model="accountInfo.firstName">
                </div>
                <div id="lnamebox">
                  <label class="cardlabels">Last Name:</label>
                  <input type='text' ng-model="accountInfo.lastName">
                </div>
              <label class="cardlabels">Address Line 1:</label><input type="text" ng-model="stripeAddress.addLine1"><br>
              <label class="cardlabels">Address Line 2:</label><input type="text" ng-model="stripeAddress.addLine2"><br>
              <div id="citystripe">
                <label class="cardlabels">City:</label> <input type="text" ng-model="stripeAddress.city"><br>
              </div>
              <div id="statestripe">
                <label class="cardlabels">State: </label><input type="text" ng-model="stripeAddress.state"><br>
              </div>
              <div id="postalstripe">
                <label class="cardlabels">Postal Code: </label><input type="text" ng-model="stripeAddress.postal"><br>
              </div>
              <div id="DOBstripe">
                <label class="cardlabels" id="doblabel">Date of Birth </label>
            <div id="dobbox">
              <input id="stripeday"placeholder="DD"type="number" ng-model="accountInfo.day" min="1" max="31"> /
              <input id="stripemonth" placeholder="MM" type="number" ng-model="accountInfo.month" min="1" max="12"> /
              <input id="stripeyear" placeholder="YYYY" type="number" ng-model="accountInfo.year" min="1900" max="2016"><br>
            </div>
            </div>

            <div id="agreeterms">
              <input id="termsagree" type="checkbox" ng-model="accountInfo.tos">
              <label id="Iagree" class="cardlabels">I agree to the <a href="#/terms">Terms of Service</a></label>
            </div>


              <button id="createstripebutton" ng-click="createStripeAccount(accountInfo)">Create Stripe Account</button><br>

              <!-- <button ng-click="updateAddress(stripeAddress)">Update Stripe Address</button> -->

<!--
              <p>{{res}}</p>
              <button ng-click="getMyAccount()">Get Account info</button>
              <p>{{getAccount}}</p> -->

              </div>



            </div>


            <div id="fullformsubmit">
            <form>

              <div class="menusubmit">
                <div id="dishbox">

                  <label id="whatchamakin">What are you making?</label>
                  <input class="menutextbox" type="text" ng-model="dish.dishName" />
                </div>

                <div id="portionsbox">
                <label  class="secondarylabel" id="howmany">Portions</label>
                <input class="menutextbox" id="portiontextbox" type="number" ng-model="dish.portions" name="portions" min="1" max="20"></div>

                <div id="pricebox">
                  <label class="secondarylabel">Price</label>
                  <input class="menutextbox" id="pricetextbox" ng-model="dish.price" />
                </div>

                <div>
                  <label id="descriptionlabel">Description</label>
                  <textarea id="descriptiontextbox" ng-model="dish.description"></textarea>
                </div>

               </div>
               </br>



               <div id="logisticssubmit">
                  <div id="when">When are you making this dish?</div>

                  <div class="datebutton">
                    <label>
                      <input type="radio" ng-model="dish.time.date" value="today">
                      <span>Today</span>
                    </label>
                  </div>
                  <div class="datebutton">
                    <label>
                      <input type="radio" ng-model="dish.time.date" value="tomorrow">
                      <span>Tomorrow</span>
                    </label>
                  </div>
                  <div class="datebutton">
                    <label>
                      <input type="radio" ng-model="dish.time.date" value="custom">
                      <span>Choose Date</span>
                    </label>
                  </div>
                    </br></br>
                  <div id="aroundbox">
                    <label id="fromlabel">Around:</label>
                    <input class="logistictextbox" id="submitdate" ng-show="dish.time.date==='custom'" type="date" ng-model="dish.time.pickupTime" />
                    <input class="logistictextbox" type="time" ng-model="dish.time.pickupTime" step="600"/><br>
                  </div>
                  <div id="whattimebox">

                    <div id="whattime">Order By:</div>
                    <input class="logistictextbox" id="submitdate" ng-if="dish.time.date==='custom'" type="date" ng-model="dish.orderBy" />
                    <input class="logistictextbox" type="time" ng-model="dish.orderBy" step="600"/><br>
                </div>
                <br>

                <button class="logistictextbox" id="submit" type="submit"class="btn btn-default" ng-click="submitDish(dish)" ng-disabled="!dish.complete" ng-init="dish.complete=false">Submit</button>

               </div>
               </br>
          </form>
        </div>
        <div class="one">Enable online payment to buy or sell<div id="stripearrow"> > <div></div>




</ul>


<script>

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btnmobile = document.getElementById("myBtnmobile");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

btnmobile.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    if (event.target == modal2) {
        modal2.style.display = "none";
    }

    if (event.target == modal3) {
        modal3.style.display = "none";
    }

}


// Get the modal
var modal2 = document.getElementById('myModal2');

// Get the button that opens the modal
var btn2 = document.getElementById("myBtn2");
var btn2mobile = document.getElementById("myBtn2mobile");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close2")[0];

// When the user clicks the button, open the modal
btn2.onclick = function() {
    modal2.style.display = "block";
}

btn2mobile.onclick = function() {
    modal2.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal2.style.display = "none";
}


// Get the modal
var modal3 = document.getElementById('myModal3');

// Get the button that opens the modal
var btn3 = document.getElementById("myBtn3");
var btn3mobile = document.getElementById("myBtn3mobile");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close3")[0];

// When the user clicks the button, open the modal
btn3.onclick = function() {
    modal3.style.display = "block";
}

btn3mobile.onclick = function() {
    modal3.style.display = "block";
}


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal3.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}

</script>
<script>
function growDiv() {
    var growDiv = document.getElementById('grow');
    if (growDiv.clientHeight) {
      growDiv.style.height = 0;
    } else {

      growDiv.style.height = growDiv.scrollHeight + "px";
    }
document.getElementById("more-button").value=document.getElementById("more-button").value=='Read more'?'Read less':'Read more';
}



var clicked=true;
$(".one").on('click', function(){
    if(clicked)
    {
        clicked=false;
        $(".cardsubmit").css({"left": 0});
    }
    else
    {
        clicked=true;
        $(".cardsubmit").css({"left": "400px"});
    }
});
</script>
