<ul class="nav">

  <li id="navelements"><a href="#/terms">Terms</a></li>
  <li id="navelements"><a href="#/aboutus">About Us</a></li>
  <div class="navlogo"><a href="#/home"><img height="60px" src="/imgs/chefhat.png"></a></div>
  <li id="navelements"><a href="#/">Browse</a></li>
  <li id="navelements"><a href="#/account">My Account</a></li>
</ul>
