<ul class="nav" ng-controller="navController">
  <a href="#/home"><div class="navlogo"><img height="60px" src="/imgs/chefhat.png"></div></a>
  <a href="#/home"><li class="navelements0">Welcome to Appetite</li></a>


  <a href="#/aboutus"><li class="navelements">About Us</li></a>
  <a href="#/login"><li class="navelements">Home</li></a>
  <a href="#/account"><li class="navelements" ng-show="parentController.uid">Profile</li></a>
  <button class="welcomebuttonright" id="myBtn" ng-show="!parentController.uid">Login</button>
  </div>
  <!-- The Modal -->
  <div id="myModal" class="modal" ng-show="!parentController.uid">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">x</span></br>
      <div id="registertitle2">Log in</div>
          <div ng-repeat="warning in warinings">
              {{warning.errorMessage}}
          </div>
                  <form ng-submit="login(user)">
                      <div>
                        {{loginError}}
                    </div>
                      <label class="registerlabel">Email</label><input class="logintextbox" type="text" ng-model="user.email" />
                      <label class="registerlabel">Password</label><input class="logintextbox" type="password" ng-model="user.password" />
                      <button id="homelogin">Login</button>
                  </form>

    </div>

  </div>

  <div id="welcomebuttonrightcontainer">
  <button class="welcomebuttonright" id="myBtn2" ng-show="!parentController.uid">Join</button>
  </div>
  <div id="myModal2" class="modal2" ng-show="!parentController.user.uid">
    <!-- Modal content -->
    <div class="modal-content2">
        <span class="close2">x</span></br>
            <div id="registertitle">Join Appetite</div>
                <form ng-submit="signup(user)">
                    <div>{{signupError}}</div>
                                  <div id="firstnamebox"><label class="registerlabel">First Name</label><input id="firstNameregister" type="text" ng-model="user.firstName"/></div>
                                  <div id="lastnamebox"><label class="registerlabel" id="lastnamelabel">Last Name</label><input id="lastNameregister" type="text" ng-model="user.lastName"/></div></br>
                                  <label class="registerlabel">Phone</label><input class="logintextbox" type="text" ng-model="user.phone"/>
                                  <label class="registerlabel">Email</label><input class="logintextbox" type="text" ng-model="user.signupemail"/>
                                  <label class="registerlabel">Password</label><input class="logintextbox" type="password" ng-model="user.signuppassword"/>
                                  <label class="registerlabel">Confirm</label><input class="logintextbox" type="password" ng-model="user.confirmpassword" />
                                  <div id="termsconsent">By joining you agree to these <a href="#/terms">Terms</a></div>
                                  <button id="homeregister" ng-disabled=" (user.signuppassword!==user.confirmpassword) || (!user.signuppassword)">Join Appetite</button>
                </form>
      </div>
  </div>



  <button class="welcomebuttonright" id="myBtn3" ng-show="parentController.uid">Cook</button>
  <div id="myModal3" class="modal3">
    <!-- Modal content -->
    <div class="modal-content3">
            <span class="close3">x</span></br>
            <div class="warning" ng-repeat="warning in dish.warnings">{{warning.warningMessage}}</div>
            <div class="warning" ng-repeat="error in dish.errors">{{error.errorMessage}}</div>

            <div id="fullformsubmit">
            <form>

              <div class="menusubmit">
                <div id="dishbox">

                  <label id="whatchamakin">What are you making?</label>
                  <input class="menutextbox" type="text" ng-model="dish.dishName" />
                </div>

                <div id="portionsbox">
                <label  class="secondarylabel" id="howmany">Portions</label>
                <input class="menutextbox" id="portiontextbox" type="number" ng-model="dish.portions" name="portions" min="1" max="20"></div>

                <div id="pricebox">
                  <label class="secondarylabel">Price</label>
                  <input class="menutextbox" id="pricetextbox" ng-model="dish.price" />
                </div>

                <div>
                  <label id="descriptionlabel">Description</label>
                  <textarea id="descriptiontextbox" ng-model="dish.description"></textarea>
                </div>
                
                <div id="logisticssubmit">
                    <div id="when">When are you making this dish?</div>
                    <label>Today</label><input type="radio" ng-model="dish.time.date" value="today"/>
                    <label>Tomorrow</label><input type="radio" ng-model="dish.time.date" value="tomorrow" />
                    <label>Choose Date</label><input type="radio" ng-model="dish.time.date" value="custom" /></br></br>
                    <label id="fromlabel">Pickup At:</label>
                    <input class="logistictextbox" id="submitdate" ng-if="dish.time.date==='custom'" type="date" ng-model="dish.time.pickupTime" />
                    <input class="logistictextbox" type="time" ng-model="dish.time.pickupTime" step="600"/><br><br>
                    <div id="whattime">Order By:</div>
                    <input class="logistictextbox" id="submitdate" ng-if="dish.time.date==='custom'" type="date" ng-model="dish.orderBy" />
                    <input class="logistictextbox" type="time" ng-model="dish.orderBy" step="600"/><br>
                </div>
                <button class="logistictextbox" id="submit" type="submit"class="btn btn-default" ng-click="submitDish(dish)" ng-disabled="!dish.complete" ng-init="dish.complete=false">Submit</button>
                
               </div>
               </br>
          </form>
        </div>
        </div>



</ul>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    if (event.target == modal2) {
        modal2.style.display = "none";
    }

    if (event.target == modal3) {
        modal3.style.display = "none";
    }

}


// Get the modal
var modal2 = document.getElementById('myModal2');

// Get the button that opens the modal
var btn2 = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close2")[0];

// When the user clicks the button, open the modal
btn2.onclick = function() {
    modal2.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal2.style.display = "none";
}


// Get the modal
var modal3 = document.getElementById('myModal3');

// Get the button that opens the modal
var btn3 = document.getElementById("myBtn3");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close3")[0];

// When the user clicks the button, open the modal
btn3.onclick = function() {
    modal3.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal3.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}

</script>
<script>
function growDiv() {
    var growDiv = document.getElementById('grow');
    if (growDiv.clientHeight) {
      growDiv.style.height = 0;
    } else {

      growDiv.style.height = growDiv.scrollHeight + "px";
    }
document.getElementById("more-button").value=document.getElementById("more-button").value=='Read more'?'Read less':'Read more';
}

</script>
