<nav class="topbar">
    <div class="mobile-menu-button">
        <div class="bar" id="bar1"></div>
        <div class="bar" id="bar2"></div>
        <div class="bar" id="bar3"></div>
    </div>
    <div class="mobile-logo">

    </div>
    <ul class="clear">
        <li id="logo-list-item">
            <a href="/"><img src="/Img/menu_icon.png" alt="Click to go back to Home" style="height:45px"></a>


        </li>
        <li><a href="/advertisements">Browse</a></li>
        <li><a href="/advertisements/new">Submit A Dish!</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms of Use</a></li>
    </ul>
</nav>
