<!DOCTYPE html>
<html lang="en" id="html">
  <head>
    <title>Appetite</title>

    <meta name="viewport" content="width=device-width" />
    <script src="/lib/jquery-3.0.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Martel+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/Users/paulbridi/Documents/AppetiteWebsite/serverpaul/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/browse.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/welcome.css" />

    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/content.css" />
    <link rel="stylesheet" type="text/css" href="/css/ngDialog.min.css">
    <link rel="stylesheet" type="text/css" href="/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/aboutus.css">

    <script src="/lib/angular.min.js"></script>

		<script src="/js/modernizr.custom.js"></script>
    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/angular-css.min.js"></script>
    <script src="/js/ngDialog.min.js"></script>
    <script src="/lib/angular-ui-router.min.js"></script>
    <script src="/lib/angular-animate.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-storage.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBztxeNgL4baVisF6JB-3WgwNXFKJerUs8",
        authDomain: "appetite-8827f.firebaseapp.com",
        databaseURL: "https://appetite-8827f.firebaseio.com",
        storageBucket: "appetite-8827f.appspot.com",
      };
      firebase.initializeApp(config);
      Stripe.setPublishableKey('pk_test_LwMMQNfb3CoPtTHOXTJ8RpVt');
    </script>

    <script src='/angular/controllers/parent.ctrl.js'></script>
    <script src='/angular/services/services.js'></script>
    <script src='/angular/controllers/browse.ctrl.js'></script>
    <script src='/angular/controllers/account.ctrl.js'></script>
    <script src='/angular/controllers/nav.ctrl.js'></script>

    <script src="/angular/app.js"></script>
  </head>

  <%- include ../views/partials/navbar.ejs %>

  <body ng-app="myApp" id="nomargin" ng-controller="parentController">

    <div ui-view id="fullpage">
    </div>

  </body>
</html>
