<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Appetite</title>
        <!--<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>-->
    <meta name="viewport" content="width=device-width" />
    <script src="/lib/jquery-3.0.0.min.js"></script>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <!--<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Martel+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="../favicon.ico">


    <link rel="stylesheet" type="text/css" href="/css/aboutus.css" />
    <link rel="stylesheet" type="text/css" href="/css/submitdish.css" />
    <link rel="stylesheet" type="text/css" href="/css/browse.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/profile.css" />
    <link rel="stylesheet" type="text/css" href="/css/terms.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />

    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/submitdish.css" />
		<link rel="stylesheet" type="text/css" href="/css/content.css" />


    <script src="/lib/angular.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
		<script src="/js/modernizr.custom.js"></script>

    <script src="/lib/angular-route.min.js"></script>
    <script src="/lib/angular-css.min.js"></script>
    <script src="/lib/angular-cookies.min.js"></script>


    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.0.5/firebase-storage.js"></script>
    <!--<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>-->




    <!-- AngularFire -->
    <!--<script src="https://cdn.firebase.com/libs/angularfire/2.0.0/angularfire.min.js"></script>-->
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAFeKB5L3QbetPlLDFhuftMqTUTuUhkKhM",
        authDomain: "angular-project-31b5c.firebaseapp.com",
        databaseURL: "https://angular-project-31b5c.firebaseio.com",
        storageBucket: "angular-project-31b5c.appspot.com",
      };
      firebase.initializeApp(config);
    </script>

    <script src="/js/cheryl.js"></script>
  </head>
  <body ng-app="myApp">

    <main ng-view id="fullpage">

    </main>

  </body>
</html>
