<form ng-submit="login(user)">
    <div class="alert-warning" ng-show="warnings" ng-repeat="warning in warnings">{{warning.errorMessage}}</div>
    <p><label class="labelmargin">Email</label><input class="logintextbox" type="text" ng-model="user.email" /></p>
    <p><label class="labelmargin">Password</label><input class="logintextbox" type="password" ng-model="user.password" /></p>
    <p><button class="homepadding">Login</button></p>
<form>
