<div id="itemscontainer">
  <div ng-repeat="dish in dishes" id="repeateditem">
      <div id="listitem" ng-click="showDetails = !showDetails">

        <div id="dishbanner">
          <div class="dishthumbnail">
            <img class="img-thumbnail" src="/imgs/gordon.jpg" />
          </div>

            <div id="dishtitle">{{dish.dishName}}</div>
            <div id="dishprice">${{dish.price}}</div>
        </div>
    </div>
    <div ng-show="showDetails" id="itemdetails">
        <p>{{dish.description}}</p>
        <div id="dishtime">{{dish.time}}</div>
        <div id="dishphone">{{dish.phone}}</div>
        <div id="dishlocation">{{dish.address}}</div>
    </div>
  </div>
</div>


<div id="map" class="col-xs-8 right">

</div>

<style>
  button.accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
  }

  div.panel {
      display: none;
  }

  div.panel.show {
      display: block !important;
  }
</style>

<!--the original one-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYuMVPGLB6a4BmDmUH8yAH61mbXiIjIsc&callback=initMap"
async defer></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrhD4LOU25zT-2Vu8zSSuL8AnvMn2GEJ0&callback=initMap"
async defer></script> -->


<script>
//Note to Paul:
    // not working because this only adds eventlisteners to elements already on page
    // but the dishes are actually added later
    // maybe put this into Angular
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function() { 
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");          
      }, false);
      
    //   acc[i].onclick = function(){
    //       this.classList.toggle("active");
    //       this.nextElementSibling.classList.toggle("show");
    // }
  }
    
    var map;
    
    function initMap() {
        var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
            center: {lat: 45.5017, lng: -73.5673},
            zoom: 13,
            streetViewControl: false,
            mapTypeControl: false
        });

        mapHelper(map);

     }
     
     
    var mapHelper = function(map){
        var dishes = [];
        var markers = [];
        firebase.database().ref('dish/').orderByChild("dataAdded").on("value", function(snapshot){
            var allDishes = snapshot.val();
            for (var key in allDishes){
                if (!allDishes[key]["deleted"] & allDishes[key]["uid"] !== firebase.auth().currentUser.uid){

                    dishes.unshift({
                        dishName    : allDishes[key]["dishName"],
                        description : allDishes[key]["description"],
                        phone       : allDishes[key]["phone"],
                        price       : allDishes[key]["price"],
                        quantity    : allDishes[key]["quantity"],
                        time        : allDishes[key]["time"],
                        address     : allDishes[key]["location"],
                        owner       : allDishes[key]["owner"],
                        key         : key
                    });                     

                    var marker = new google.maps.Marker({
                        position: {
                            lat: allDishes[key]["lat"],
                            lng: allDishes[key]["long"]
                        },
                        title: allDishes[key]["dishName"],
                        map: map
                    });
                
                    markers.push(marker);   

                } //end if  
            } // end forEach loop
        
            // markers.forEach(function(pin){
            //     pin.setMap(map); 
            // });
        });
    }; //end mapHelper function
    
     

  
</script>
