


<div class="background">
  <!--<form align="center" method="post" action="index.html">
    <input type="text" ng-model="email" placeholder="Email">
    <p><input type="password" ng-model="password" placeholder="Password"></p>
    <p><input type="submit" value="Login"></p>
    <a href="#/signup">
      <input type="submit" value="Create Account">
    </a>
  </form>-->
    <div align="center" class="quotes">
        <p>"Appetite saved my life"</p>
        <p>-Monica</p>
    </div>

    <div align="center" class="homebuttons" >
        <div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
            <button type="button">Login</button>
  	        <div class="morph-content">
  	            <div>
  			        <div class="content-style-form content-style-form-1">
  			            <span class="icon icon-close">Close the dialog</span>
  			            <h2>Login</h2>
  			            <form>
  				            <p><label>Email</label><input type="text" /></p>
  				            <p><label>Password</label><input type="password" /></p>
  				            <p><button>Login</button></p>
  				        </form>
  			        </div>
  		        </div>
  	        </div>
	    </div><!-- morph-button -->

        <div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
            <button type="button">Join appetite</button>
                <div class="morph-content">
                    <div>
                        <div class="content-style-form content-style-form-1">
                            <span class="icon icon-close">Close the dialog</span>
                            <h2>Sign Up</h2>
                            <form>
                                <p><label>Email</label><input type="text" /></p>
                                <p><label>Password</label><input type="password" /></p>
                                <p><label>Confirm Password</label><input type="password" /></p>
                                <p><button>Sign Up</button></p>
                            </form>
                        </div>
                    </div>
                </div>
          </div><!-- morph-button -->
     </div>
</div> <!-- background  --->

<div>
    <!-- main logo -->
    <div align="center" class="mainlogo">
        <img src="/imgs/AppetiteLogo2.jpg" height="200px" width="450px">
    </div>
    <div class="description" align="center">
        <p>Appetite is a social platform for people to buy and sell the meals that they prepare in their own kitchens</p>
    </div>
    <!-- youtube video -->
    <div class="video" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BEcIlPAScPU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!-- Chef hat & the app -->
<div class="logo" align="center">
    <img src="/imgs/FadedLogo.jpg" height="150px" width="120px">
    <p class="ourmission">The App</p>
    <div>
        <img class="appscreenshots" src="/imgs/WebsitePhoto2.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsitePhoto1.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsitePhoto3.png" height="500" width="250">
    </div>
    <div>
        <p class="appdescription">Browse by location for a meal that sounds good to you.
          Select one that sounds good and you will be brought to a page detailing price, ingredients, and the time it is ready.
          Click order when you're ready to purchase your dish!</p>
        <p class="appdescription">If you are selling a meal, simply fill in the form, wait for someone to order, and get cooking!</p>
    </div>
</div>

  <!-- Chef hat & our team -->
<div class="logo" align="center">
    <img src="/imgs/FadedLogo.jpg" height="150px" width="120px">
        <p class="ourmission">Our Team</p>
    <div>
        <img class="appscreenshots" src="/imgs/WebsiteKristina.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsiteSean.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsitePaul.png" height="500" width="300">
    </div>
</div>