<h1>{{user.firstName}}</h1>
<hr>
<h3>Cheryl's notes to Paul: this is what I envisioned (and assumed you did) with this page</h3>
<p>The User's info is loaded and display. If you click on the 'inputs', you can modify them; once you do, the button below shows up to submit the form to edit the user's info. Test it if you want: but if you have invalid characters it won't work.</p>
<form ng-submit="editProfile(user)">
  <label for="firstName">First Name</label><input type='text' ng-model="user.firstName" name="firstName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>
  <label for="lastName">Last Name</label><input type='text' ng-model="user.lastName" name="lastName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>
  <label for="phone">Phone</label><input type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>
  <label for="firstName">Address</label><input type='text' ng-model="user.address" name="adress" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>
  <input type="submit" value="Save Edits" ng-show="user.changed" ng-init="user.changed=false"/>
</form>

<hr>
  <div ng-repeat="dish in user.mealsMade">
    <h3>{{dish.dishName}}</h3>
    <form ng-submit="editDish(dish)">
          <label for="dishName">Dish Name</label><input type='text' ng-model="dish.dishName" name="dishName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="delete">Show or Hide</label><input type='checkbox' ng-model="dish.delete" name="delete" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/>{{dish.delete}}<br>
          <label for="description">Description</label><input type='textarea' ng-model="dish.description" name="description" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="address">Location</label><input type='text' ng-model="dish.address" name="address" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="price">Price</label><input type='text' ng-model="dish.price" name="price" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="time">Pickup Time</label><input type='text' ng-model="dish.time" name="time" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="portion">Portions left</label><input type='text' ng-model="dish.portion" name="portion" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <input type='hidden' ng-model="dish.key"/><br>
          <input type="submit" value="Save Edits" ng-show="dish.changed" ng-init="dish.changed=false"/>
    </form>
  </div>

    
    
    
    <style>
      input.blur{
        border-width: 0px;
        box-shadow: inset 2px 2px #dddddd;
        color: #777;
        background-color: #f0f0f0;
      }
      label {
        display: inline-block;
        width: 100px;
      }
      
      
    </style>
