<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>MenuMaker</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="cssmenu">
  <ul>
     <li class="active"><a href="#" target="_blank"><span><i class="fa fa-fw fa-home"></i> Home</span></a></li>
     <li><a href="#"><span><i class="fa fa-fw fa-bars"></i> Menus</span></a></li>
     <li><a href="#"><span><i class="fa fa-fw fa-cog"></i> Settings</span></a></li>
     <li><a href="#"><span><i class="fa fa-fw fa-phone"></i> Contact</span></a></li>
  </ul>
</div>

<div align="center"><a href="#" class="myButton">Submit A Dish</a></div>


<table align="center">
<tr>
    <th>Chef</th>
    <th>Dish</th>
    <th>Contact</th>
    <th>Location</th>
    <th>Description</th>
    <th>Time</th>
  </tr>

  <tr ng-repeat="dish in dishes">
      <td>{{chef}}</td>
      <td>{{dish}}</td>
      <td>{{contact}}</td>
      <td>{{location}}</td>
      <td>{{description}}</td>
      <td>{{time}}</td>
    </tr>

</table>

</body>
</html>
