<link rel="stylesheet" type="text/css" href="aboutus.css">


<img class="mainpic" style="z-index:-99; background-color:#ebf8fe" src="imgs\Aboutuspic.png" align="center">
<!-- Title -->
<div class="aboutus" align="center">
  <img src="imgs\Appetite Logo.png" height="200px" width="200px">
</div>

<!-- Header -->
<div style="background-color:#ebf8fe">
    <p class="header">Welcome to Appetite, the marketplace for homemade meals!</p>
    <p class="teamtext">We think that fast food sucks. We built Appetite so nobody will need to choose between eating well and breaking the bank</p>
</div>

<!-- Icons & Info -->
<div align="center" class="column">
  <div class="meetsomeone">
    <div>
      <img src="imgs\meetnew.png" height="60px" width="60px">
    </div>
    <div>
      <p class="table">Meet Somebody New</p>
    </div>
    <div>
      <p class="subtable">Appetite offers a great way to meet your peers outside an academic environment</p>
    </div>
  </div>


  <div class="food">
    <div>
      <img src="imgs\restaurant-cutlery-symbol-of-a-cross.png" height="60px" width="60px">
    </div>
    <div>
      <p class="table">Enjoy Delicious Food</p>
    </div>
    <div>
      <p class="subtable">The taste of the food is the #1 thing people say they like most about Appetite</p>
    </div>
  </div>

  <div class="money">
    <div>
      <img src="imgs\moneybag.png" height="60px" width="60px">
    </div>
    <div>
      <p class="table">Earn and Save Money</p>
    </div>
    <div>
      <p class="subtable">It's an easy way to make extra cash, and the average meal price is only $7</p>
    </div>
  </div>
</div>

<!-- Header -->
<div>
  <p class="header">See How it Works:</p>
</div>

<!-- Video -->
<div align="center"  style="background-color:#ebf8fe">
  <iframe class="aboutusvideo" align="center" src="https://www.youtube.com/embed/m21rooOFBms" frameborder="0" allowfullscreen></iframe>
</div>

<!-- Team -->
<div style="background-color:#ebf8f">
  <p class="header">The Team</p>
  <p class="teamtext">We are a team of McGill students, working hard to connect you to your campus.</p>
  <img class="teamphoto" src="imgs\Team.jpg">
</div>

<!-- Header -->
<div>
  <p class="partnertext">Partnerships</p>
<div align="center" class="column">
  <img class="aboutusimg" src="imgs\image5408.png" width="200px" height="70px" align="center">
  <img class="aboutusimg" src="imgs\image4154.png" width="300px" height="70px" align="center">
  <img class="aboutusimg" src="imgs\image5980.png" width="400px" height="50px" align="center">
  <img class="aboutusimg" src="imgs\image4144.png" width="300px" height="70px" align="center">
  <img class="aboutusimg" src="imgs\image4814.png" width="250px" height="160px" align="center">
</div>
</div>

<!-- Footer -->
<div id="footer">
  <div id="contactbox">
    <div class="header">Contact Us
    <div id="envelopeicon">For any questions email us at inquiries@eatappetite.com</div>
      <a id="facebookicon" href="https://www.facebook.com/eatappetite"></a>
      <a id="instaicon" href="https://www.instagram.com/eatappetite/?hl=en"></a>
      <a id="linkedinicon" href="https://www.linkedin.com/company/10904953?trk=vsrp_companies_cluster_name&trkInfo=VSRPsearchId%3A994553261473117769470%2CVSRPtargetId%3A10904953%2CVSRPcmpt%3Acompanies_cluster"></a>
      <hr id="footerhr">
      <a id="termsaboutus" href="#/terms">Terms </a>
      <a id="privacyaboutus" href="#/terms">Privacy Policy</a>
    </div>

  </div>

</div>
