<link rel="stylesheet" type="text/css" href="aboutus.css">


<img class="mainpic" style="z-index:-99; background-color:#ebf8fe" src="imgs\Aboutuspic.png" align="center">
<!-- Title -->
<div class="aboutus" align="center">
  <img src="imgs\Appetite Logo.png" height="200px" width="200px">
</div>

<!-- Header -->
<div style="background-color:#ebf8fe">
    <p class="header">Welcome to Appetite, the marketplace for homemade meals!</p>
    <p class="teamtext">We think that fast food sucks. We built Appetite so nobody will need to choose between eating well and breaking the bank</p>
</div>

<!-- Icons & Info -->
<div align="center" class="column">
  <div class="meetsomeone">
    <div>
      <img src="imgs\meetnew.png" height="60px" width="60px">
    </div>
    <div>
      <p class="table">Meet Somebody New</p>
    </div>
    <div>
      <p class="subtable">Appetite offers a great way to meet your peers outside an academic environment</p>
    </div>
  </div>


  <div class="food">
    <div>
      <img src="imgs\restaurant-cutlery-symbol-of-a-cross.png" height="60px" width="60px">
    </div>
    <div>
      <p class="table">Enjoy Delicious Food</p>
    </div>
    <div>
      <p class="subtable">The taste of the food is the #1 thing people say they like most about Appetite</p>
    </div>
  </div>

  <div class="money">
    <div>
      <img src="imgs\moneybag.png" height="60px" width="60px">
    </div>
    <div>
      <p class="table">Earn and Save Money</p>
    </div>
    <div>
      <p class="subtable">It's an easy way to make extra cash, and the average meal price is only $7</p>
    </div>
  </div>
</div>

<!-- Header -->
<div>
  <p class="header">See How it Works:</p>
</div>

<!-- Video -->
<div align="center"  style="background-color:#ebf8fe">
  <iframe class="aboutusvideo" align="center" src="https://www.youtube.com/embed/m21rooOFBms" frameborder="0" allowfullscreen></iframe>
</div>

<!--FAQ -->
<div>
  <!-- Header -->
  <div>
    <p class="faqheader">FAQ</p>
  </div>
  <div align="center" class="faqcolumn">

  <div class="faqgen">
    <p class="faqsubhead">General</p>
    <p class="faqques">Can anyone use Appetite?</p>
    <p class="faqans">Right now, Appetite is only available for students at McGill and Concordia (you must sign up with your student email). Otherwise, send us an email with a link to your facebook page and we can add you.</p>

    <p class="faqques">Who are the cooks?</p>
    <p class="faqans">They are students just like us! Anyone who is part of the Appetite community can post dishes!</p>

    <p class="faqques">How do you do quality control?</p>
    <p class="faqans">Quality is checked every time someone shares a meal.  After someone has ordered a meal, they will be asked to rate and review their experience.  People with low ratings will be removed from the community.</p>

    <p class="faqques">How much does Appetite charge?</p>
    <p class="faqans">At the moment, we take a commission of 3% to cover our operating costs, this is in addition to what Stripe charges to process the online payments.</p>

    <p class="faqques">Is the payment processor secure?</p>
    <p class="faqans">Absolutely! We use a company called Stripe, and all your information is stored on their secure servers.  Check them out at stripe.com</p>

    <p class="faqques">How much does Appetite charge?</p>
    <p class="faqans">At the moment, we take a commission of 3% to cover our operating costs, this is in addition to what Stripe charges to process the online payments.</p>

    <p class="faqques">How is this legal?</p>
    <p class="faqans">Appetite is a closed and private community of people who share food, and thus food is not publicly available.  To join, you must agree to our Terms. Send us an email if you want some more info!</p>

  </div>

  <div class="faqcook">
    <p class="faqsubhead">Cooking</p>
    <p class="faqques">How do become a cook?</p>
    <p class="faqans">Once you've signed up, just click the "Cook" button at the top of the page to submit your dish.  Wait for someone to order and get cooking!</p>

    <p class="faqques">How do I get paid</p>
    <p class="faqans">You will need to fill out your banking information, which will be set up for direct deposit on a weekly basis.  We will also need you to upload a picture of your ID, so that we can verify your identity.</p>

    <p class="faqques">What certification do I need to cook?</p>
    <p class="faqans">You are not legally required to obtain a specific certification, as we are just a community who share the leftovers that we are already cooking for friends and family.  It's no different than going to your friends place for dinner! Head to www.mapaq.gouv.qc.ca if you want to learn more about food safety!</p>

    <p class="faqques">How much should I post a meal for?</p>
    <p class="faqans">It's completely up to you! On average, a dish costs $7 on Appetite. We recommend that you start lower, and slowly increase your prices as your rating and reviews get better and better!</p>

    <p class="faqques">When should I post a meal, before I start cooking or after?</p>
    <p class="faqans">The longer your meal is on the website, the better chance you will have of selling it.  However, if you just cooked too much, go ahead and post it. The worst than could happen is you are left with tastey leftovers!</p>

    <p class="faqques">Am I responsible to give people packaging?</p>
    <p class="faqans">No, the person who has requested a meal is the one who brings a food container.  If you want to have some single use containers just incase, contact us and we can give you a few to get you started.</p>

    <p class="faqques">Do I pay income tax on the money I earn?</p>
    <p class="faqans">Yes, include the money you make on Appetite when you file your income tax returns each year.</p>

    <p class="faqques">Can I cancel or change a meal?</p>
    <p class="faqans">Yes, head to the profile page if you want to edit a dish.  You won't be able to change anything after someone orders.</p>

  </div>

  <div class="faqbuy">
    <p class="faqsubhead">Requesting</p>

    <p class="faqques">Should I use Appetite if I have allergies?</p>
    <p class="faqans">As we cannot guarantee the ingredients in a dish, if you have allergies you should not be using Appetite.</p>

    <p class="faqques">How do I know if a meal is good before I request it?</p>
    <p class="faqans">Check out the person's ratings! Keep in mind, as we are just starting, that some people may not have cooked before.  You can be the first to try their delicious food!</p>

    <p class="faqques">Is there a delivery option?</p>
    <p class="faqans">Nope. Part of what we are doing is providing a way to meet someone new. Who knows, maybe your future best friend is cooking right now!</p>

    <p class="faqques">How do I know where to meet the person cooking?</p>
    <p class="faqans">Before you order, you can see the location of people cooking on the map.  After you order, you will be texted the exact address and their phone number, incase you need to tell them that you are running a little late.</p>

    <p class="faqques">Can I cancel a meal once I have ordered it?</p>
    <p class="faqans">Once you confirm your order, the chef receives a text and starts cooking so you cannot cancel your order.  Make sure you can make it if you request a meal!</p>

    <p class="faqques">What if I show up and nobody is there?</p>
    <p class="faqans">The first thing you should do is call the cook. You are given their phone number by text once you order a meal. If you've tried that, send us an email and we will sort it out.</p>

    <p class="faqques">Do I need a credit card to use Appetite?</p>
    <p class="faqans">Yes. In order to buy a meal, you need to sign up with a credit card. However, your card will be stored on Stripe's secure server so you will enter your information only once.</p>
  </div>

  </div>

  <div>
    <p class="faqtext"> Any more questions? Send us an email!</p>
  </div>
</div>


<!-- Team -->
<div style="background-color:#ebf8f">
  <p class="header">The Team</p>
  <p class="teamtext">We are a team of McGill students, working hard to connect you to your campus.</p>
  <img class="teamphoto" src="imgs\Team.jpg">
</div>

<!-- Header -->
<div>
  <p class="partnertext">Partnerships</p>
<div align="center" class="column">
  <img class="aboutusimg" src="imgs\image5408.png" width="200px" height="70px" align="center">
  <img class="aboutusimg" src="imgs\image4154.png" width="300px" height="70px" align="center">
  <img class="aboutusimg" src="imgs\image5980.png" width="400px" height="50px" align="center">
  <img class="aboutusimg" src="imgs\image4144.png" width="300px" height="70px" align="center">
  <img class="aboutusimg" src="imgs\image4814.png" width="250px" height="160px" align="center">
</div>
</div>

<!-- Footer -->
<div id="footer">
  <div id="contactbox">
    <div class="header">Contact Us
    <div id="envelopeicon">For any questions email us at inquiries@eatappetite.com</div>
      <a id="facebookicon" href="https://www.facebook.com/eatappetite"></a>
      <a id="instaicon" href="https://www.instagram.com/eatappetite/?hl=en"></a>
      <a id="linkedinicon" href="https://www.linkedin.com/company/10904953?trk=vsrp_companies_cluster_name&trkInfo=VSRPsearchId%3A994553261473117769470%2CVSRPtargetId%3A10904953%2CVSRPcmpt%3Acompanies_cluster"></a>
      <hr id="footerhr">
      <a id="termsaboutus" href="#/terms">Terms </a>
      <a id="privacyaboutus" href="#/terms">Privacy Policy</a>
    </div>

  </div>

</div>
