<ul class="nav">
  <a align="center" href="#/home"><li>Home</li></a>
  <a align="center" href="#/aboutus"><li>About Us</li></a>
  <a align="center" href="#/home"><li><img height="35px" src="/imgs/chefhat.png"></li></a>
  <a align="center" href="#/"><li>Browse</li></a>
  <a align="center" href="#/account"><li>My Account</li></a>
</ul>


<div class="logo" align="center">
  <img src="imgs\Faded Logo.jpg" height="150px" width="120px">
  <p class="ourmission">Our Mission</p>
  <div class="ourmissiontext">
    <p>There is a lack of healthy, affordable food.</p>
    <p>We want to transform dining, so students will no longer need to choose between eating well and saving money.</p>
    <p>By connecting people cooking with hungry students in their area, we give everyone access to home-cooking and the chance to meet somebody new!</p>
    <p> Here's how it works:</p>
    <div class="video" align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/BEcIlPAScPU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


<div class="logo" align="center">
    <img src="/imgs/FadedLogo.jpg" height="150px" width="120px">
        <p class="ourmission">Our Team</p>
    
        <img class="appscreenshots" src="/imgs/WebsiteKristina.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsiteSean.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsitePaul.png" height="500" width="300">

</div>

<div class="logo" align="center">
  <img src="imgs\Faded Logo.jpg" height="150px" width="120px">
  <p class="ourmission">Our Awards</p>
</div>

<div class="awardsfont">
  <div>
    <p class="awardsfontsmall"></p>
  </div>
  <p>X-1 Accelerator 2016 Cohort<img class="awards" src="imgs\X-1.png" align="center" height="70" width="200"></p>
</div>
<div class="awardsfont">
    <div>
      <p class="awardsfontsmall"></p>
    </div>
    <p>Inagural TechAccel Grant <img class="awards" src="imgs\ICE grant.png" align="center" height="40"></p>
  </div>
  <div class="awardsfont">
    <div>
      <p class="awardsfontsmall"></p>
    </div>
    <p>2nd Place - Pacific Venture Capital Competition <img class="awards" src="imgs\PVCC.png" align="center" height="70"></p>
  </div>
  <div class="awardsfont">
    <div>
      <p class="awardsfontsmall"></p>
    </div>
    <p>Honourable Mention - McGill Dobson Cup <img class="awards" src="imgs\Dobson Cup.png" align="center" height="70"></p>
  </div>
</div>

<div class="spacer">
  <p align="center">spacer</p>
</div>

<div id="footer" align="center">
  <p>Contact Us</p>
  <p id="footer">inquiries@eatappetite.com</p>
</div>
