<!-- The Modal -->


<div id="itemscontainer">
  <div id="submitsuccess" ng-cloak>{{message}}</div>

  <div id="activemealscontainer">
    <div id="boughtseparate">Current Meals</div>

    <div id="repeateditemactive" ng-cloak ng-repeat="dish in parentController.currentlyCooking" ng-if="false">
      <div ng-init="dish.edit=true" id="dishbanneractive" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" >

          <div ng-show="dish.edit" id="dishpriceactive">${{dish.price}}</div>
          <input type="text" ng-show="!dish.edit" ng-if="dish.editable" ng-model="dish.price" placeholder="$7" id="dishpriceedit"/>

          <div id="itemboxactive">
            <div ng-show="dish.edit" id="dishtitleactive">{{dish.dishName}}</div>
            <input placeholder="linguini" ng-show="!dish.edit" ng-if="dish.editable" id="dishtitleactiveedit" type="text" ng-model="dish.dishName"/>

            </br>
            </br>


            </br></br>
          </div>

          <!--<div class="chefnameactive">My Dish</div>-->
          <input type="text" ng-show="!dish.edit" ng-if="dish.editable" ng-model="dish.description" id="dishdescriptionactiveedit" placeholder="description"></input>

          <div ng-show="dish.edit" id="profiledishdescription">{{dish.description}}</div>


          <div ng-show="!dish.edit" ng-if="dish.editable" id="logisticssubmitactive">
              <label>Order By:</label>
              <input class="logistictextbox" id="submitdate" type="date" ng-model="dish.orderBy" />
             <input class="logistictextbox" type="time" ng-model="dish.orderBy" step="600"/><br>
             <label id="fromlabelactive">Ready at:</label>
             <input class="logistictextbox" id="submitdate" type="date" ng-model="dish.time.pickupTime" />
             <input class="logistictextbox" type="time" ng-model="dish.time.pickupTime" step="600"/>
          </div>
          <div id="profilesubmitteddate" ng-show="dish.edit">
             Order By: {{dish.orderByFormatted}}<br>
             Ready Around: {{dish.time.pickupTimeFormatted}}
          </div>

          <div ng-show="!dish.edit" ng-if="dish.editable" class="activeaddresssearch">
           <input id="profileaddresssearch" placeholder="New Address" ng-show="!dish.edit" type="text" ng-model="queryAddress" />
           <button ng-show="!dish.edit" id="activeaddresssearch" ng-click="submitAddress(queryAddress, dish)">Find New Address!</button>

           <div id="addressresultactive">
             <div  class="addresseditactive" ng-show="!dish.edit" ng-repeat="result in dish.results" ng-click="assignLocation(result, dish)">
               {{result.formatted_address}}
             </div>
           </div>
          </div>
          <div id="profilesubmittedaddress" ng-show="dish.edit">
              Pickup at: {{dish.location}}
          </div>




      <button ng-show="dish.edit" ng-if="dish.editable" class="activeeditbutton" ng-click="dish.edit=!dish.edit">Edit Dish</button>
      <button ng-show="!dish.edit" ng-if="dish.editable" class="activeeditbutton" ng-click="dish.edit=!dish.edit">Save Edits</button>
      <button ng-show="!dish.edit" ng-if="dish.editable" class="activecancelbutton" ng-click="dish.edit=!dish.edit">Cancel</button>


          </div>





       <div ng-if="dish.purchases">
            Orders:
            <div ng-repeat="(buyerid, buyerObj) in dish.purchases">
                <p>{{buyerObj.buyerName}} : {{buyerObj.buyerPhone}} <span ng-if="buyerObj.pickedUp && buyerObj.reviewedBuyer">[picked up and reviewed buyer]</span></p>
                <div ng-if="buyerObj.pickedUp && !buyerObj.reviewedBuyer">Review {{buyerObj.buyerName}}:
                    <p>
                        <div class="rating">
                            <label for="star5" ng-click="buyerObj.unprocessedReview.rating=5">5 stars</label>
                            <label for="star4" ng-click="buyerObj.unprocessedReview.rating=4">4 stars</label>
                            <label for="star3" ng-click="buyerObj.unprocessedReview.rating=3">3 stars</label>
                            <label for="star2" ng-click="buyerObj.unprocessedReview.rating=2">2 stars</label>
                            <label for="star1" ng-click="buyerObj.unprocessedReview.rating=1">1 star</label>
                        </div>

                        <textarea ng-model="buyerObj.unprocessedReview.review">

                        </textarea>
                        <button ng-click="submitBuyerReview(buyerObj, dish.key)">Submit Review!</button>
                    </p>
                </div>
                <hr id="activehr">
            </div>
        </div>

    </div>




    <div id="dishbannersold" ng-repeat="dish in parentController.currentlyCooking" ng-cloak>
        <div class="dishthumbnail">
          <img class="img-thumbnail" ng-src="{{dish.ownerPic}}"></img>
        </div>
        <div id="dishprice">${{dish.price}}</div>

        <div id="dishtitle">{{dish.dishName}}</div>
        <div class="dishtime">Ready at {{dish.orderByTime}}</div>
        <div id="ordersnumber">{{dish.order}} orders</div>

        <div class="orderedbox" ng-repeat="(key, buyer) in dish.purchases">
          <div class="guestordered" ng-if="!buyer.pickedUp && !buyer.reviewedChef">
              <img class="img-thumbnailsmall" ng-src="{{nothing}}"></img>

              <div id="whoordered">{{buyer.buyerName}} ordered</div>
              <div id="whoorderedphone">{{buyer.buyerPhone}}</div>
          </div>
          <div class="orderedtextbox">
          <!--  Code:-->
          <!--<input type="textbox" class="orderedtextboxinput"></input>-->
          <!--<button class="codesubmit">Submit</button>-->
          <button class="codesubmit">Picked Up</button>
          </div>


        </div>
  </div>




    <div id="dishbannerbought">
        <div class="dishthumbnail">
          <img class="img-thumbnail" ng-src="{{dish.ownerPic}}"></img>
        </div>
        <div id="dishprice">$7</div>

        <div id="dishtitle">dish.dishName}}</div>
        <div class="chefname">by dish.ownerName}}</div></br>

      <div id="reviewbutton">
        <div id="ratelabel">Rate:</div>
            <fieldset class="rating" id="totalratingfield">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
            </fieldset>
        </div>

        <div id="reviewlabel">
          Please write a Review!
        </div>

        <textarea class="reviewboxprofile">
        </textarea>
        <button id="submitreviewprofile">Submit
        </button>
  </div>

  <div id="dishbannerbought" ng-if="parentController.activeMeals" ng-repeat="(key, dish) in parentController.activeMeals">
      <div class="dishthumbnail">
        <img class="img-thumbnail" ng-src="{{dish.ownerPic}}"></img>
      </div>
      <div id="dishprice">${{dish.price}}</div>

    <div id="itembox">
      <div id="dishtitle">linguini</div>
      <div class="chefname">by {{dish.ownerName}}</div></br>
      <div class="dishtime">Ready {{dish.time}}</div>
      <div id="boughtcode"><div id="codelabel">CODE:</div> H32-D34</div>
    </div>

  <div id="boughtaddress">
    {{dish.address}}
  </div>

  <div id="boughtphone">
    {{dish.phone}}
  </div>

</div>



  </div>
  <div id="innercontainer" ng-init="selection = { selectedNode:  null }">
  <div id="browseseparate">Browse</div>
  <div ng-repeat="dish in dishes" id="repeateditem" ng-id="{{dish.key}}" ng-cloak ng-if="dish.status==='order'">
        <div id="dishbanner" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" >
            <div class="dishthumbnail">
              <img class="img-thumbnail" ng-src="{{dish.ownerPic}}"></img>
            </div>
            <div id="dishprice">${{dish.price}}</div>

            <!-- Trigger/Open The Modal -->
            <button ng-click="openModal(dish)" class="order">order</button>
            <div id="downarrow" ng-click="dish.active = !dish.active"></div>

            <div ng-class="{'modal4': selection.selectedNode !== dish, 'modal4select': selection.selectedNode == dish}">

              <!-- Modal content -->
              <div class="modal-content4">
                <span class="close4" ng-click="selection.selectedNode = null">x</span>

                  <div class="confirmdeats"><label class="confirmdeatslabel">Dish:</label>{{dish.dishName}}</div>
                  <div class="confirmdeats"><label class="confirmdeatslabel">Chef:</label>{{dish.ownerName}}</div>
                  <div class="confirmdeats"><label class="confirmdeatslabel">Time:</label>{{dish.time}}</div>
                  <div id="areyousure">Are you sure you want to buy this dish?</div>
                  <div id="confirmbuttons">
                    <button id="orderconfirm" ng-click="order(dish)">Confirm</button>
                    <button id="ordercancel">Cancel</button>
                  </div>
                  <!-- <div ng-repeat="purchase in dish.purchases track by $index" ng-if="dish.purchases && parentController.uid===dish.ownerid">
                      {{purchase.buyerName}} has ordered your dish!<br>
                  </div>

                  <button ng-if="dish.status==='manage'">See more</button>
                  <button ng-click="cancelOrder(dish)" ng-if="dish.status==='ordered'">Cancel Order</button>
                  <button class="orderconfirm" ng-click="order(dish)" ng-if="dish.status==='order'">Confirm</button>
                  <button class="ordercancel" ng-click="selection.selectedNode = null" ng-if="dish.status==='order'">Cancel</button> -->

              </div>

            </div>




          <div id="itembox">
            <div id="dishtitle">{{dish.dishName}}</div>
            <div class="chefname">by {{dish.owner}}</div></br>
            <div class="dishtime"><div id="readyat">Ready at:</div> {{dish.time}}</div>

          </div>
        </div>

    <div class="slideDown" ng-hide="!dish.active">
        <div class="dishdescription">"{{dish.description}}"</div>
        <hr id="descriptionhr">
        <div id="orderby"><div id="orderbylab">Order by:</div> {{dish.orderByTime}}
        <div id="portionslab"><div id="portionslab0">Portions:</div>{{dish.portions}}</div>
        </div>

    </div>

  </div>

</div>
</div>

<div id="map">

</div>



<style>

    /*CHERYL'S STYLES*/
    .choices {
        border: 1px solid #333;
        background-color: #f0f0f0;
        margin: 5px 0;
    }
    .choices:hover {
        cursor: pointer;
    }

    .faded {
        font-weight: lighter;
        font-size: 0.7em;
    }

  button.accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
  }

  div.panel {
      display: none;
  }

  div.panel.show {
      display: block !important;
  }

/*CHERYL MADE THESE STYLES, FEEL FREE TO REMOVE*/

  .infoDiv h2 {
      font-weight: normal;
  }

  .infoDiv h2,
  .infoDiv p{
      margin: 3px;
  }

  span.right {
      display: inline-block;
      float: right;
  }

</style>


 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBztxeNgL4baVisF6JB-3WgwNXFKJerUs8&callback=initMap"
async defer></script>


<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener('click', function() {
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");
      }, false);
  }

  var map;

  function initMap() {
    var mapDiv = document.getElementById('map');

    map = new google.maps.Map(mapDiv, {
        center: new google.maps.LatLng(45.5116861, -73.5773356),
        zoom: 14,
        streetViewControl: false,
        mapTypeControl: false
    });

    var infoWindows = {};

    mapHelper(map, infoWindows);
    google.maps.event.trigger(map, 'resize');
    //resizeMap(map);




    //google.maps.event.trigger(map, 'resize');
    map.setZoom( map.getZoom() );

    //map.setCenter({lat: 45.5116861, lng: -73.5773356});

  }


    var mapHelper = function(map, infoWindows){
        var dishes = [];
        var markers = [];
        var currentUser = firebase.auth().currentUser;

        firebase.database().ref('dish/').on("value", function(snapshot){
            if (snapshot.val()){
                var timeNow = new Date();
                    snapshot.forEach(function(child) {
                    //console.log(child.val());
                    dishes.push(child.val());

                    var childPickupTime = new Date(child.val().time.pickupTime);
                    var orderBy = new Date(child.val().orderBy);

                    if (!child.val().archived && childPickupTime.getTime() - 1000*60*60*3 >= timeNow.getTime()){

                        if (currentUser && child.val().ownerid === currentUser.uid){
                            child.val().owner = "me";
                        }

                        var infoContent = "<div class='infoDiv'><h2>" +
                                      child.val().dishName + "<span class='right'>$" + child.val().price.toString() + "</span></h2><h2><span class='faded'> by " +
                                      child.val().owner +
                                      "</span></h2><p>" +
                                      child.val().description +
                                      "</p><p>Order By " +
                                      makeTime(orderBy) +
                                  "</p><p>Available ~ " +
                                      makeTime(childPickupTime) +
                                      "</p></div>";

                        var infowindow = new google.maps.InfoWindow({
                            content: infoContent
                        });


                        var marker = new google.maps.Marker({
                            position: {
                                lat: child.val().lat,
                                lng: child.val().lng
                            },
                            title: child.val().dishName,
                            icon: '../imgs/MapPin.png'

                        });

                        //function for bouncing
                        function toggleBounce() {
                            if (marker.getAnimation() !== null) {
                                marker.setAnimation(null);
                            } else {
                                marker.setAnimation(google.maps.Animation.BOUNCE);
                            }
                        }

                        //simulate a click here, using 'selector' to select the element with ng-id
                        var selector = 'div[ng-id="' + child.key + '"]';

                        $('body').on('click', selector, function () {
                            google.maps.event.trigger(marker, 'click', {});
                        });

                        $('body').on('mouseover', selector, function(){
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                        });

                        $('body').on('mouseout', selector, function(){
                            marker.setAnimation(null);
                        });

                        marker.addListener('click', function() {
                            if (!infoWindows.selector){
                                infowindow.open(map, marker);
                                infoWindows.selector = true;
                            } else {
                                infowindow.close();
                                infoWindows.selector = false;
                            }


                        });

                        google.maps.event.addListener(map, 'click', function() {
	    			        infowindow.close();
    			        });


                        infoWindows.selector = false;
                        markers.push(marker);
                        //console.log(marker);

                    } //end if

                });

                markers.forEach(function(pin){
                    pin.setMap(map);
                });
            }
        });
    }; //end mapHelper function

    var makeTime = function(date) {
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jue", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

        var formatAPMP = function(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ampm;
            return strTime;
        };

        var formatDate = function(date){
            console.log("Got function to format date!");
            var todayDate = new Date();
            var testDate = new Date(date.toString());

            var timeString;
            if (testDate.setHours(0,0,0,0) == todayDate.setHours(0,0,0,0)){
                timeString = "today ";
            } else if(date.getFullYear() === todayDate.getFullYear()) {
                timeString = monthNames[date.getMonth()] + " " + date.getDate() + " ";
            } else {
                timeString = date.getFullYear() + ' ' + monthNames[date.getMonth()] + ' ' + date.getDate() + ' ';
            }
            console.log(timeString);
            return timeString;
        };

        return formatDate(date) + formatAPMP(date);

    };

</script>

<script>
function growDiv() {
    var growDiv = document.getElementById('grow');
    if (growDiv.clientHeight) {
      growDiv.style.height = 0;
    } else {

      growDiv.style.height = growDiv.scrollHeight + "px";
    }
document.getElementById("more-button").value=document.getElementById("more-button").value=='Read more'?'Learn More':'Read more';
}

</script>
