<%- include ../partials/navbar.ejs %>



<div class="background">

    <div id="themotto">Connect with students through food</div>
    <div id="missionhome">A platform for students to buy and sell home-made meals</div>
    <a id="browsehome" href="#/home">SEE WHO'S COOKING</a>
    <div align="center" class="homebuttons">

</div>

<div>
    <!-- main logo -->
    <div align="center" class="mainlogo">
        <img src="/imgs/AppetiteLogo2.jpg" height="200px" width="450px">
    </div>
    <div class="description" align="center">
        <p>Appetite is a social platform for people to buy and sell the meals that they prepare in their own kitchens</p>
    </div>
    <!-- youtube video -->
    <div class="video" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BEcIlPAScPU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!-- Chef hat & the app -->
<div class="logo" align="center">
    <img src="/imgs/FadedLogo.jpg" height="150px" width="120px">
    <p class="ourmission">The App</p>
    <div>
        <img class="appscreenshots" src="/imgs/WebsitePhoto2.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsitePhoto1.png" height="500" width="250">
        <img class="appscreenshots" src="/imgs/WebsitePhoto3.png" height="500" width="250">
    </div>
    <div>
        <p class="appdescription">Browse by location for a meal that sounds good to you.
          Select one that sounds good and you will be brought to a page detailing price, ingredients, and the time it is ready.
          Click order when you're ready to purchase your dish!</p>
        <p class="appdescription">If you are selling a meal, simply fill in the form, wait for someone to order, and get cooking!</p>
    </div>
</div>

  <!-- Chef hat & our team -->

<script src="/js/classie.js"></script>
<script src="/js/uiMorphingButton_fixed.js"></script>
<script>



  (function() {
    var docElem = window.document.documentElement, didScroll, scrollPosition;

    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    [].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
      new UIMorphingButton( bttn, {
        closeEl : '.icon-close',
        onBeforeOpen : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterOpen : function() {
          // can scroll again
          canScroll();
        },
        onBeforeClose : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterClose : function() {
          // can scroll again
          canScroll();
        }
      } );
    } );

    // for demo purposes only
    [].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) {
      bttn.addEventListener( 'click', function( ev ) {
          //ev.preventDefault();
          console.log("default prevented?");

      } );
    } );
  })();
</script>
