<img id="launch" src="/imgs/AppetiteLaunch.png">
</img>
<div id="launchmsg">
Our beta Website is coming soon...
</div>
<div id="launchmsg2">

<div id="eggcited">Get eggcited! <img id="egg"src="/imgs/egg.jpg"></img>
</div>
</div>
