


<!-- Cheryl's stuff -->
<div>
    <form align="center" id="#login" ng-submit="submitForm(user)">
    <p><input type="text" ng-model="user.email" placeholder="Email"></p>
    <p><input type="password" ng-model="user.password" placeholder="Password"></p>
    <input type="submit" value="Login"></p>
    
</form>

<button ng-click="getCurrentUser()">Click to see user: {{ user.uid }} {{user.email}} </button>

<h1>$scope.email is: {{user.email}}</h1>
    
</div>

