
  <ul id="profilenav" ng-init="tab=1">
    <li ng-class="{'profiletab': !(tab === 1),'tabclicked': tab === 1 }" ng-click="tab = 1">Active</li>
    <li ng-class="{'profiletab': !(tab === 2),'tabclicked': tab === 2 }" ng-click="tab = 2">Reviews</li>
    <li ng-class="{'profiletab': !(tab === 3),'tabclicked': tab === 3 }" ng-click="tab = 3">History</li>
  </ul>



<img id="profilethumbnail" border-radius="10px" ng-src="{{user.photoUrl}}" ng-click="showEditProfilePic=!showEditProfilePic"/>

        <a href="#/home" id="logout" ng-click="signout()">Sign Out</a>
    </div>


  <a href="#/home" id="logout" ng-click="signout()">Sign Out</a>



<div id="infocontainer">

  <div id="username">{{user.firstName}} {{user.lastName}}</div>
  <label id="editbutton" for="c1" ng-click="user.changed=true" ng-init="user.changed=false"></label>
  <fieldset id="profilerating" class="rating">
      <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
      <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
      <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
      <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
  </fieldset>



  <div ng-controller="profileImgController" ng-show="showEditProfilePic">
    <input type="file" file-model="myFile"/>
    <button ng-click="uploadProfile()">Change Profile Picture</button>
  </div>


  <div id="profilestatus"font-family="Source Sans Pro">{{updateProfile.statusMessage}}</div>

    <div id="phonebox">

    <div id="phoneicon" for="phone"></div>
    <input ng-class="{'profileinputedit': !user.changed, 'profileinput':user.changed}" type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
  </div>

    <div id="addressicon" ng-show="!user.changed"></div>

    <div ng-class="{'profileinputeditaddress': !user.changed, 'displaynone':user.changed}">
      {{user.location}}
      <input type="checkbox" class="hiddencheckbox" id="c1" ng-model="updateProfile.changeAddress"/>
    </div>
    <div id="addresssearchbox" ng-show="user.changed">
      <div id="addressicon"></div>

      <input ng-model="queryAddress" class="addressinput" placeholder="Find address"/> <button id="locationedit" ng-click="submitAddress(queryAddress, user)"></button>
      <div class="addressresult">
        <div ng-repeat="result in user.results" class="addressedit" ng-click="assignLocation(result, user)">
            {{result.formatted_address}}
        </div>
      </div>
    </br>
      <input id='profileedit' type="submit" value="Save Edits" ng-click="editProfile(user)" ng-show="user.changed"/>
    </div>

    <div ng-show="!user.changed" id="feedbackform">
      <textarea id="feedback" rows="10" cols="2" ng-model="feedback"></textarea>
        <!--<label>Leave feedback anonymously by ticking this checkbox: </label><input type="checkbox" ng-model="anonymous" />-->
      <button id="feedbackbutton" ng-click="submitFeedback()">Send Us Your Feedback!</button>
    </div>
</div>


<div id="dishcontainer">


<div class="tabview" ng-show="tab == 1">

<div id="repeateditemactive" ng-cloak>
  <div ng-init="dish.edit=1" id="dishbanneractive" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" >
    <div class="dishthumbnailactive">
      <img class="img-thumbnail" src="/imgs/gordon.jpg"/>
    </div>
      <div ng-show="dish.edit" id="dishpriceactive">$7</div>
      <input type="text" ng-show="!dish.edit" ng-model="dish.price" placeholder="$7" id="dishpriceedit"/>

      <div id="itemboxactive">
        <div ng-show="dish.edit" id="dishtitleactive">linguini</div>
        <input placeholder="linguini" ng-show="!dish.edit" id="dishtitleactiveedit" type="text" ng-model="dish.dishName"/>

      </br>
      </br>


      </br></br>
    </div>

    <div class="chefnameactive">by Gordon Ramsey</div>
    <input type="text" ng-show="!dish.edit" ng-model="dish.description" id="dishdescriptionactiveedit" placeholder="description"></input>

    <div ng-show="dish.edit" id="profiledishdescription">"sklfjh asdlkjfh asdlkfja hsdnclkasj laksjncalsdkjcn fuckin delicious"</div>


    <div ng-show="!dish.edit" id="logisticssubmitactive">
         <label>Today</label><input type="radio" ng-model="dish.time.date" value="today"/>
         <label>Tomorrow</label><input type="radio" ng-model="dish.time.date" value="tomorrow" />
         <label>Choose Date</label><input type="radio" ng-model="dish.time.date" value="custom" /><br>
         <label id="fromlabelactive">From:</label>
         <input class="logistictextbox" id="submitdate" ng-show="dish.time.date==='custom'" type="date" ng-model="dish.time.startTime" />
         <input class="logistictextbox" type="time" ng-model="dish.time.startTime" step="600"/>
         <label id="tolabelactive">To:</label>
         <input class="logistictextbox" ng-show="dish.time.date==='custom'" id="submitdate" type="date" ng-model="dish.time.endTime" />
         <input class="logistictextbox" type="time" ng-model="dish.time.endTime" step="600"/>
     </div>
     <div id="profilesubmitteddate" ng-show="dish.edit">
        Tuesday July 36, 2016
     </div>

     <div ng-show="!dish.edit" class="activeaddresssearch">
     <input id="profileaddresssearch" placeholder="Find Address" ng-show="!dish.edit" type="text" ng-model="dish.queryAddress" />
     <button ng-show="!dish.edit" id="activeaddresssearch" ng-click="submitAddress(dish.queryAddress, dish)"></button>

     <div id="addressresultactive">
       <div  class="addresseditactive" ng-show="!dish.edit" ng-repeat="result in dish.results" ng-click="assignLocation(result, dish)">
           {{result.formatted_address}}
       </div>
     </div>

     </div>
     <div id="profilesubmittedaddress" ng-show="dish.edit">
          627 Rue Alcatraz, newton Ma 023
     </div>



  </div>

  <button ng-show="dish.edit" class="activeeditbutton" ng-click="dish.edit=!dish.edit">Edit Dish</button>
  <button ng-show="!dish.edit" class="activeeditbutton" ng-click="dish.edit=!dish.edit">Save Edits</button>

<hr id="activehr">
</div>


<!-- Active Meal Bought -->

<div id="repeateditemactive" ng-cloak>

      <div id="dishbannerrating" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" ng-click="dish.active = !dish.active" >
        <div class="dishthumbnailactive">
          <img class="img-thumbnail" src="/imgs/gordon.jpg"/>
        </div>
          <div id="dishprice">$4</div>
        <div id="itemboxrating">
          <div id="dishtitle">Wonton Soup</div>
          <div class="chefname">by Jones Jones</div></br>
          <div id="activeratings">
            <div id="valuerating">
              <label class="ratinglabel">value:</label>

              <fieldset class="rating" id="valueratingfield">
                  <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
              </fieldset>
          </div>

          <div id="timingrating">
            <label class="ratinglabel">timing:</label>

                <fieldset class="rating" id="timingratingfield">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
                </fieldset>
            </div>

            <div id="tasterating">
              <label class="ratinglabel">taste:</label>
              <fieldset class="rating" id="tasteratingfield">
                  <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
              </fieldset>
            </div>

          </div>

        </div>
      </div>

  <div class="slideDown" ng-hide="!dish.active" id="itemdetails">
  <div class="dishdescription">"Super yummy wonton soup made by yaboi Jones Jones, yes that is my real name"</div>
      <div id="dishphoneactive">514-gofuckyourself</div>
        <div id="dishaddressactive">4235 Rue JONES JONES JONES, H2W 1V6</div>
</div>
</div>

</div>

<!--
          <div id="dishbanner">
            <div class="dishthumbnail">
              <img class="img-thumbnail" src="/imgs/gordon.jpg"/>
            </div>
            <div id="profiledishname">Example Dishname</div>

          </div>

                <div id="itemdetails">
                    <label class="accountdishlabel">Dish name:</label>
                    </br>
                    <label class="accountdishlabel">Active:</label> <input type="checkbox" ng-model="dish.active"/></br>
                    <label class="accountdishlabel">Price:</label>
                    <br>
                    <label class="accountdishlabel">Pickup time:</label>
                    <input id="accountpickup" type="date" ng-model="dish.time.startTime"/>
                    <input type="time" step="600" ng-model="dish.time.startTime"/><br>
                    <label class="accountdishlabel">To:</label>
                    <input id="accountto" type="date" ng-model="dish.time.endTime" />
                    <input type="time" step="600" ng-model="dish.time.endTime" /><br>
                    <label class="accountdishlabel">Description:</label>
                  <br>
                  <label class="accountdishlabel">Phone:</label>
                  <input type="text" ng-model="dish.phone"/><br>
                  <label class="accountdishlabel">Address:</label>
                  <input type="text" ng-model="dish.location"/><br>
                  <label class="accountdishlabel">New Address:</label>
                  <input type="text" ng-model="dish.queryAddress" /><button id="accountsubmit" ng-click="submitAddress(dish.queryAddress, dish)">Find Address</button>
                  <div class="addresshistory" ng-repeat="result in dish.results" ng-click="assignLocation(result, dish)">
                      {{result.formatted_address}}
                  </div>
                  <input id="submiteditprofile" type="submit" value="Save Edits" ng-click="editDish(dish)"/><div id="editsuccess">{{dish.message}}</div>
                </div> -->


        <div class="tabview" ng-show="tab == 2">

          <div id="repeateditemactive"  ng-cloak>

                <div id="dishbanner" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" ng-click="dish.active = !dish.active" >
                  <div class="dishthumbnailactive">
                    <img class="img-thumbnail" src="/imgs/gordon.jpg"/>
                  </div>

                  <div id="review">
                    I thought it was wonderfull!!!! Seriously A+ job here buy chef Ramsey.
                  </br>
                    <div id="reviewdate">
                    July 22 2016
                    </div>

                  </div>

                </div>
          </div>


        </div>

        <div class="tabview" ng-show="tab == 3">
            third
        </div>

</div>
<script src="/js/classie.js"></script>
<script src="/js/uiMorphingButton_fixed.js"></script>
<script>
    $('#submitdishbutton').hide();
  (function() {
    var docElem = window.document.documentElement, didScroll, scrollPosition;

    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    [].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
      new UIMorphingButton( bttn, {
        closeEl : '.icon-close',
        onBeforeOpen : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterOpen : function() {
          // can scroll again
          canScroll();
        },
        onBeforeClose : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterClose : function() {
          // can scroll again
          canScroll();
        }
      } );
    } );

    // for demo purposes only
    [].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) {
      bttn.addEventListener( 'click', function( ev ) {
          //ev.preventDefault();
          console.log("default prevented?");

      } );
    } );
  })();
</script>
