<%- include ../partials/navbar.ejs %>

<!-- <div id="profilepage"> -->

<div id="profilebanner"></div>


<img id="profilethumbnail" border-radius="10px" ng-src="{{user.photoUrl}}" />


<div id="profilecontainer">
    <div id="profilename">
        {{user.firstName}}
        {{user.lastName}}
        <label class="editbutton" for="c1" ng-click="user.changed=true" ng-init="user.changed=false"></label>
        <input id='profileedit' type="submit" value="Save Edits" ng-click="editProfile(user)" ng-show="user.changed"/>
    </div>
    

    
    <div id="infocontainer">
          <!--CHERYL WROTE THIS AS A DEMO/TEST, FEEL FREE TO REMOVE-->
          <!--<div ng-repeat="error in updateProfile.errors"></div>-->
          <!--<div ng-show="user.updated">Profile Updated!</div>-->
          <div id="profilestatus"font-family="Source Sans Pro">{{updateProfile.statusMessage}}</div>
            <!--CHERYL'S TEST ENDS HERE-->
    <div height="auto" ng-show="user.changed">
            <div id="phonebox">
          <label class="profilelabel">Name:</label>
          <input ng-class="{'nameinputedit': !user.changed, 'nameinput':user.changed}" type='text' ng-model="user.lastName" name="lastName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>

          <input ng-class="{'nameinputedit': !user.changed, 'nameinput':user.changed}" type='text' ng-model="user.firstName" name="firstName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          </div>
        </div>    
    
        <div id="phonebox">
          <label for="phone" class="profilelabel">Phone:</label>
          <input ng-class="{'profileinputedit': !user.changed, 'profileinput':user.changed}" type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
        </div>
          <label class="profilelabel">Address:</label><div class="profileinput"> {{user.location}}
              <input type="checkbox" class="hiddencheckbox" id="c1" ng-model="updateProfile.changeAddress"/>

          </div>
          <div height="auto" ng-show="user.changed">
          <input ng-model="queryAddress" class="addressinput" placeholder="Find address"/> <button id="locationedit" ng-click="submitAddress()"><img id="search" src="/imgs/search.png"></button>
              <div ng-repeat="result in results" class="addressedit" ng-click="assignLocation(result)">
                  {{result.formatted_address}}
              </div>
            </div>
        
        <!--<textarea class="descriptioninput" placeholder="Tell us about yourself!" type='text' name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-model="user.description"/></textarea>-->


</div>
</div>

<div id="dishcontainer">
  <div id="profileinnercontainer">
    
    <div id="repeateditem" ng-repeat="dish in user.dishes">
      <form ng-submit="editDish(dish)">
        <div id="listitem" ng-click="showDetails = !showDetails">
          
          <div id="dishbanner">
            <div class="dishthumbnail">
              <img class="img-thumbnail" src="/imgs/gordon.jpg" />
            </div>
            <input type="text" ng-model="dish.dishName" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
            Active: <input type="checkbox" ng-model="dish.active" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          </div>
        </div>
        <div ng-show="showDetails" id="itemdetails">
            <label>Price:</label><input type="text" ng-model="dish.price" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/><br>
            <label>Pickup time:</label>
            <input type="date" ng-model="dish.time.startTime"/>
            <input type="time" step="600" ng-model="dish.time.startTime"/>
            <label>To:</label>
            <input type="date" ng-model="dish.time.endTime" />
            <input type="time" step="600" ng-model="dish.time.endTime" />
          <input type="text" ng-model="dish.description" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.phone" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.location" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="submit" value="Save Edits" ng-show="dish.changed"/>
        </div>
      </form>
    </div>
  </div>

<div id="profileinstruction" text-align="center">
  Here's a list of the dishes you bought or sold this week!
</div>

