<span ng-if="parentController.uid">
  <ul id="profilenav" ng-init="tab=1">
    <li ng-class="{'profiletab': !(tab === 1),'tabclicked': tab === 1 }" ng-click="tab = 1">Active</li>
    <li ng-class="{'profiletab': !(tab === 2),'tabclicked': tab === 2 }" ng-click="tab = 2">Reviews</li>
    <li ng-class="{'profiletab': !(tab === 3),'tabclicked': tab === 3 }" ng-click="tab = 3">History</li>
  </ul>



<img id="profilethumbnail" border-radius="10px" ng-src="{{parentController.user.photoUrl}}" ng-click="showEditProfilePic=!showEditProfilePic"/>

    </div>





<div id="infocontainer">

  <div id="username">{{parentController.user.firstName}} {{parentController.user.lastName}}</div>
  <label id="editbutton" for="c1" ng-click="user.changed=true" ng-init="user.changed=false"></label>
  <fieldset id="profilerating" class="rating">
      <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
      <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
      <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
      <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
  </fieldset>



  <div ng-controller="profileImgController" ng-show="showEditProfilePic">
    <input type="file" file-model="myFile"/>
    <button ng-click="uploadProfile()">Change Profile Picture</button>
  </div>


  <div id="profilestatus"font-family="Source Sans Pro">{{updateProfile.statusMessage}}</div>

    <div id="phonebox">

    <div id="phoneicon" for="phone"></div>
    <input ng-class="{'profileinputedit': !user.changed, 'profileinput':user.changed}" type='text' ng-model="parentController.user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
  </div>

    <div id="addressicon" ng-show="!user.changed"></div>

    <div ng-class="{'profileinputeditaddress': !user.changed, 'displaynone':user.changed}">
      {{parentController.user.location}}
      <input type="checkbox" class="hiddencheckbox" id="c1" ng-model="updateProfile.changeAddress"/>
    </div>
    <div id="addresssearchbox" ng-show="user.changed">
      <div id="addressicon"></div>

      <input ng-model="queryAddress" class="addressinput" placeholder="Find address"/> <button id="locationedit" ng-click="submitAddress(queryAddress, user)"></button>
      <div class="addressresult">
        <div ng-repeat="result in user.results" class="addressedit" ng-click="assignLocation(result, parentController.user)">
            {{result.formatted_address}}
        </div>
      </div>
    </br>
      <input id='profileedit' type="submit" value="Save Edits" ng-click="editProfile(parentController.user)" ng-show="user.changed"/>
    </div>

    <!-- <div ng-show="!user.changed" id="feedbackform">
      <textarea id="feedback" rows="10" cols="2" ng-model="feedback"></textarea>
      <button id="feedbackbutton" ng-click="submitFeedback()">Send Us Your Feedback!</button>
    </div> -->
  </br>
    <button href="#/home" id="logout" ng-click="signout()">Sign Out</button>

</div>


<div id="dishcontainer" ng-init="tab=1">


<div class="tabview" ng-show="tab == 1">

<div id="repeateditemactive" ng-cloak ng-repeat="dish in currentlyCooking">
  <div ng-init="dish.edit=true" id="dishbanneractive" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" >


      <div ng-show="dish.edit" id="dishpriceactive">${{dish.price}}</div>
      <input type="text" ng-show="!dish.edit" ng-if="dish.editable" ng-model="dish.price" placeholder="$7" id="dishpriceedit"/>

      <div id="itemboxactive">
        <div ng-show="dish.edit" id="dishtitleactive">{{dish.dishName}}</div>
        <input placeholder="linguini" ng-show="!dish.edit" ng-if="dish.editable" id="dishtitleactiveedit" type="text" ng-model="dish.dishName"/>

        </br>
        </br>


        </br></br>
      </div>

      <!--<div class="chefnameactive">My Dish</div>-->
      <input type="text" ng-show="!dish.edit" ng-if="dish.editable" ng-model="dish.description" id="dishdescriptionactiveedit" placeholder="description"></input>

      <div ng-show="dish.edit" id="profiledishdescription">"{{dish.description}}"</div>


      <div ng-show="!dish.edit" ng-if="dish.editable" id="logisticssubmitactive">
          <label>Order By:</label>
          <input class="logistictextbox" id="submitdate" type="date" ng-model="dish.orderBy" />
         <input class="logistictextbox" type="time" ng-model="dish.orderBy" step="600"/><br>
         <label id="fromlabelactive">Ready at:</label>
         <input class="logistictextbox" id="submitdate" type="date" ng-model="dish.time.pickupTime" />
         <input class="logistictextbox" type="time" ng-model="dish.time.pickupTime" step="600"/>
      </div>
      <div id="profilesubmitteddate" ng-show="dish.edit">
         Order By: {{dish.orderByFormatted}}<br>
         Ready Around: {{dish.time.pickupTimeFormatted}}
      </div>

      <div ng-show="!dish.edit" ng-if="dish.editable" class="activeaddresssearch">
       <input id="profileaddresssearch" placeholder="New Address" ng-show="!dish.edit" type="text" ng-model="queryAddress" />
       <button ng-show="!dish.edit" id="activeaddresssearch" ng-click="submitAddress(queryAddress, dish)">Find New Address!</button>

       <div id="addressresultactive">
         <div  class="addresseditactive" ng-show="!dish.edit" ng-repeat="result in dish.results" ng-click="assignLocation(result, dish)">
           {{result.formatted_address}}
         </div>
       </div>
      </div>
      <div id="profilesubmittedaddress" ng-show="dish.edit">
          Pickup at: {{dish.location}}
      </div>




  <button ng-show="dish.edit" ng-if="dish.editable" class="activeeditbutton" ng-click="dish.edit=!dish.edit">Edit Dish</button>
  <button ng-show="!dish.edit" ng-if="dish.editable" class="activeeditbutton" ng-click="dish.edit=!dish.edit">Save Edits</button>
  <button ng-show="!dish.edit" ng-if="dish.editable" class="activecancelbutton" ng-click="dish.edit=!dish.edit">Cancel</button>


      </div>





   <div ng-if="dish.purchases">
        Orders:
        <p ng-repeat="(buyerid, buyerObj) in dish.purchases">{{buyerObj.buyerName}} : {{buyerObj.buyerPhone}}</p>
    </div>
<hr id="activehr">
</div>



<!-- Active Meal Bought -->
<div id="repeateditemactive" ng-cloak ng-repeat="activeMeal in activeMeals">

     <div id="dishbannerrating" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" ng-click="activeMeal.active = !activeMeal.active" >
        <div class="dishthumbnailactivereview">
          <img class="img-thumbnail" ng-src="{{activeMeal.ownerPic}}"/>
        </div>

          <div id="dishprice">${{activeMeal.price}}</div>
          <div id="dishtitlerating">{{activeMeal.dishName}}</div>
          <div class="chefname">by {{activeMeal.owner}}</div></br>
          <div>{{activeMeal.location}}</div>
          <div>{{activeMeal.phone}}</div>
          <button ng-if="!activeMeal.pickedUp" ng-click="pickedUp(activeMeal)">Picked Up</button>
        <div id="itemboxrating" ng-if="activeMeal.pickedUp">

          <div id="activeratings">
            <div id="valuerating">
              <label class="ratinglabel">value:</label>
              <fieldset class="rating" id="valueratingfield">
                <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
                <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
              </fieldset>

              <br>
              <div class="rateandreview">
                <div class="pleaserate">Please rate or review your experience!</div>


                <textarea class="reviewbox"></textarea>
                <button id="submitreview">Submit Review</button>


              </div>
            </div>

          </div>
        </div>
    </div>
</div>
</div>


        <div class="tabview" ng-show="tab == 2">

          <div id="repeateditemactive"  ng-cloak>

                <div id="dishbanner" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" ng-click="dish.active = !dish.active" >
                  <div class="dishthumbnailactive">
                    <img class="img-thumbnail" src="/imgs/gordon.jpg"/>
                  </div>




                  <div id="review">

                    <fieldset class="rating" id="valueratingfield">
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" >4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
                    </fieldset>

                    I thought it was wonderfull!!!! Seriously A+ job here buy chef Ramsey.
                  </br>
                    <div id="reviewdate">
                    July 22 2016
                    </div>

                  </div>

                </div>
          </div>


        </div>

        <div class="tabview" ng-show="tab == 3">
            third
        </div>

</div>
</span>
<script src="/js/classie.js"></script>
<script src="/js/uiMorphingButton_fixed.js"></script>
<script>
    $('#submitdishbutton').hide();
  (function() {
    var docElem = window.document.documentElement, didScroll, scrollPosition;

    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    [].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
      new UIMorphingButton( bttn, {
        closeEl : '.icon-close',
        onBeforeOpen : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterOpen : function() {
          // can scroll again
          canScroll();
        },
        onBeforeClose : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterClose : function() {
          // can scroll again
          canScroll();
        }
      } );
    } );

    // for demo purposes only
    [].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) {
      bttn.addEventListener( 'click', function( ev ) {
          //ev.preventDefault();
          console.log("default prevented?");

      } );
    } );
  })();
</script>
