<ul class="nav" ng-controller="navbarController">
  <a align="center" href="#/home"><li>Home</li></a>
  <a align="center" href="#/aboutus"><li>About Us</li></a>
  <a align="center" href="#/home"><li><img height="35px" src="/imgs/chefhat.png"></li></a>
  <a align="center" href="#/browse"><li>Browse</li></a>
  <a align="center" href="#/account"><li>My Account</li></a>
</ul>

<!-- <div id="profilepage"> -->
  <!-- <div id="profilecontainer"> -->

<!-- <div id="thumbnailbackground"> -->

<div id="profilebanner"></div>


  <img id="profilethumbnail" border-radius="10px" src="/imgs/gordon.jpg" />



    <div id="profilesection">
      <form ng-submit="editProfile(user)">

        <div id="profilename">
          <input class="nameinput"placeholder="{{user.firstName}}" type='text' onkeypress="this.style.width = ((this.value.length + 1) * 20) + 'px';" ng-model="user.firstName" name="firstName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/>
          <input class="nameinput" type='text' onkeypress="this.style.width = ((this.value.length + 1) * 20) + 'px';" ng-model="user.lastName" name="lastName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>
        </div>
        <div id="profileinfo">

          <textarea class="descriptioninput" placeholder="Tell us about yourself!" type='text' name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/></textarea><br>

          <label for="phone" class="profilelabel">Phone:</label>
          <input class="profileinput" type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>

          <label class="profilelabel" for="firstName">Address:</label>
          <input class="profileinput" type='text' ng-model="user.address" name="adress" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>
          <input id='profileedit' type="submit" value="Save Edits" ng-show="user.changed" ng-init="user.changed=false"/>
      </form>
    </div>
</div>


<div id="profilecontainer">
  <div id="profileinnercontainer">
    <div id="repeateditem">
      <div id="listitem" ng-click="showDetails = !showDetails">

        <div id="dishbanner">
          <div class="dishthumbnail">
            <img class="img-thumbnail" src="/imgs/gordon.jpg" />
          </div>

            <div id="dishtitle">Bridi Panini</div>
            <div id="dishprice">$7</div>
        </div>
    </div>
    <div ng-show="showDetails" id="itemdetails">
        <p align="center">Delicious and nutricious sammy with chicken, peppers, and avocado</p>
        <div id="dishtime">Thursday 9:00</div>
        <div id="dishphone">514-433-45555</div>
        <div id="dishlocation">4235 Rue St. Urbain</div>
    </div>
  </div>
</div>

<div id="profileinstruction" text-align="center">
  Here's a list of the dishes you bought or sold this week!
</div>

  <!-- </div> -->

  <!-- <div ng-repeat="dish in user.mealsMade">
    <h3>{{dish.dishName}}</h3>
    <form ng-submit="editDish(dish)">
          <label for="dishName">Dish Name</label><input type='text' ng-model="dish.dishName" name="dishName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="delete">Show or Hide</label><input type='checkbox' ng-model="dish.delete" name="delete" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/>{{dish.delete}}<br>
          <label for="description">Description</label><input type='textarea' ng-model="dish.description" name="description" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="address">Location</label><input type='text' ng-model="dish.address" name="address" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="price">Price</label><input type='text' ng-model="dish.price" name="price" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="time">Pickup Time</label><input type='date' ng-model="dish.time" name="time" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <label for="portion">Portions left</label><input type='text' ng-model="dish.portion" name="portion" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="dish.changed=true"/><br>
          <input type='hidden' ng-model="dish.key"/><br>
          <input type="submit" value="Save Edits" ng-show="dish.changed" ng-init="dish.changed=false"/>
    </form>
  </div> -->
