<<<<<<< HEAD
<%- include ../partials/navbar.ejs %>
=======
>>>>>>> d6dcec2e91052995203ce74ab8ea9a0a5d36d4b9
<!-- <div id="profilepage"> -->
<div ng-show="user">
    <div id="profilebanner"></div>

<img id="profilethumbnail" border-radius="10px" ng-src="{{user.photoUrl}}" ng-click="showEditProfilePic=!showEditProfilePic" ng-cloak/>
    <div id="profilename">
        {{user.firstName}}
        {{user.lastName}}
<<<<<<< HEAD
        {{user.changed}}
        
        
=======


>>>>>>> d6dcec2e91052995203ce74ab8ea9a0a5d36d4b9
        <a href="#/home" id="logout" ng-click="signout()">Sign Out</a>
    </div>

<div id="profilecontainer">
    <label class="editbutton" for="c1" ng-click="user.changed=true" ng-init="user.changed=false"></label>


    <div id="infocontainer">

            <div ng-controller="profileImgController" ng-show="showEditProfilePic">
                <input type="file" file-model="myFile"/>
                <button ng-click="uploadProfile()">Change Profile Picture</button>
            </div>


        <div id="profilestatus"font-family="Source Sans Pro">{{updateProfile.statusMessage}}</div>

            <!--CHERYL'S TEST ENDS HERE-->
            <div height="auto">
                <div id="phonebox">
                    <label class="profilelabel">Name:</label>
                    <input ng-class="{'nameinputedit': !user.changed, 'nameinput':user.changed}" type='text' ng-model="user.lastName" name="lastName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>

          <input ng-class="{'nameinputedit': !user.changed, 'nameinput':user.changed}" type='text' ng-model="user.firstName" name="firstName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          </div>
        </div>

        <div id="phonebox">
          <label for="phone" class="profilelabel">Phone:</label>
          <input ng-class="{'profileinputedit': !user.changed, 'profileinput':user.changed}" type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
        </div>
          <label class="profilelabel">Address:</label><div class="profileinput"> {{user.location}}
              <input type="checkbox" class="hiddencheckbox" id="c1" ng-model="updateProfile.changeAddress"/>

          </div>
          <div height="auto" ng-show="user.changed">
          <div id="addressbar">
          <input ng-model="queryAddress" class="addressinput" placeholder="Find address"/> <button id="locationedit" ng-click="submitAddress(queryAddress, user)"><img id="search" src="/imgs/search.png"></button>

          </div>
              <div ng-repeat="result in user.results" class="addressedit" ng-click="assignLocation(result, user)">
                  {{result.formatted_address}}
              </div>
              <input id='profileedit' type="submit" value="Save Edits" ng-click="editProfile(user)" ng-show="user.changed"/>

</div>

        <div ng-show="!user.changed" id="feedbackform">
        <textarea id="feedback" rows="10" cols="2" ng-model="feedback"></textarea>
        <!--<label>Leave feedback anonymously by ticking this checkbox: </label><input type="checkbox" ng-model="anonymous" />-->
        <button id="feedbackbutton" ng-click="submitFeedback()">Send Us Your Feedback!</button>
        </div>
    </div>

<div id="dishcontainer" ng-cloak>
  <div id="profileinnercontainer">

    <div id="repeateditem" ng-repeat="dish in user.dishes">
      <form>
        <div id="listitem">

          <div id="dishbanner">
            <div class="dishthumbnail">

            </div>
            <div id="profiledishname">{{dish.dishName}}</div>
            <button ng-click="dish.edit=!dish.edit">Edit</button>

          </div>
        </div>
        <div ng-show="dish.edit" id="itemdetails">
            <label class="accountdishlabel">Dish name:</label>
            <input type="text" ng-model="dish.dishName"/></br>
            <label class="accountdishlabel">Active:</label> <input type="checkbox" ng-model="dish.active"/></br>
            <label class="accountdishlabel">Price:</label>
            <input type="text" ng-model="dish.price"/><br>
            <label class="accountdishlabel">Pickup time:</label>
            <input id="accountpickup" type="date" ng-model="dish.time.startTime"/>
            <input type="time" step="600" ng-model="dish.time.startTime"/><br>
            <label class="accountdishlabel">To:</label>
            <input id="accountto" type="date" ng-model="dish.time.endTime" />
            <input type="time" step="600" ng-model="dish.time.endTime" /><br>
            <label class="accountdishlabel">Description:</label>
          <input type="text" ng-model="dish.description"/><br>
          <label class="accountdishlabel">Phone:</label>
          <input type="text" ng-model="dish.phone"/><br>
          <label class="accountdishlabel">Address:</label>
          <input type="text" ng-model="dish.location"/><br>
          <label class="accountdishlabel">New Address:</label>
          <input type="text" ng-model="dish.queryAddress" /><button id="accountsubmit" ng-click="submitAddress(dish.queryAddress, dish)">Find Address</button>
          <div class="addresshistory" ng-repeat="result in dish.results" ng-click="assignLocation(result, dish)">
              {{result.formatted_address}}
          </div>
          <input id="submiteditprofile" type="submit" value="Save Edits" ng-click="editDish(dish)"/><div id="editsuccess">{{dish.message}}</div>
        </div>
      </form>
    </div>
  </div>

<div id="profileinstruction" text-align="center">
  A list of the dishes you posted!
</div>
</div>
</div>

<script src="/js/classie.js"></script>
<script src="/js/uiMorphingButton_fixed.js"></script>
<script>
    $('#submitdishbutton').hide();
  (function() {
    var docElem = window.document.documentElement, didScroll, scrollPosition;

    // trick to prevent scrolling when opening/closing button
    function noScrollFn() {
      window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
    }

    function noScroll() {
      window.removeEventListener( 'scroll', scrollHandler );
      window.addEventListener( 'scroll', noScrollFn );
    }

    function scrollFn() {
      window.addEventListener( 'scroll', scrollHandler );
    }

    function canScroll() {
      window.removeEventListener( 'scroll', noScrollFn );
      scrollFn();
    }

    function scrollHandler() {
      if( !didScroll ) {
        didScroll = true;
        setTimeout( function() { scrollPage(); }, 60 );
      }
    };

    function scrollPage() {
      scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
      didScroll = false;
    };

    scrollFn();

    [].slice.call( document.querySelectorAll( '.morph-button' ) ).forEach( function( bttn ) {
      new UIMorphingButton( bttn, {
        closeEl : '.icon-close',
        onBeforeOpen : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterOpen : function() {
          // can scroll again
          canScroll();
        },
        onBeforeClose : function() {
          // don't allow to scroll
          noScroll();
        },
        onAfterClose : function() {
          // can scroll again
          canScroll();
        }
      } );
    } );

    // for demo purposes only
    [].slice.call( document.querySelectorAll( 'form button' ) ).forEach( function( bttn ) {
      bttn.addEventListener( 'click', function( ev ) {
          //ev.preventDefault();
          console.log("default prevented?");

      } );
    } );
  })();
</script>
