<%- include ../partials/navbar.ejs %>

<!-- <div id="profilepage"> -->

<div id="profilebanner"></div>


<img id="profilethumbnail" border-radius="10px" ng-src="{{user.photoUrl}}" />
    <div id="profilename">
        {{user.firstName}}
        {{user.lastName}}
        <label class="editbutton" for="c1" ng-click="user.changed=true" ng-init="user.changed=false"></label>
        <input id='profileedit' type="submit" value="Save Edits" ng-click="editProfile(user)" ng-show="user.changed"/>
    </div>

<div id="profilecontainer">
    
    

    
    <div id="infocontainer">
          <div id="profilestatus"font-family="Source Sans Pro">{{updateProfile.statusMessage}}</div>
            <!--CHERYL'S TEST ENDS HERE-->
    <div height="auto" ng-show="user.changed">
            <div id="phonebox">
          <label class="profilelabel">Name:</label>
          <input ng-class="{'nameinputedit': !user.changed, 'nameinput':user.changed}" type='text' ng-model="user.lastName" name="lastName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>

          <input ng-class="{'nameinputedit': !user.changed, 'nameinput':user.changed}" type='text' ng-model="user.firstName" name="firstName" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          </div>
        </div>    
    
        <div id="phonebox">
          <label for="phone" class="profilelabel">Phone:</label>
          <input ng-class="{'profileinputedit': !user.changed, 'profileinput':user.changed}" type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
        </div>
          <label class="profilelabel">Address:</label><div class="profileinput"> {{user.location}}
              <input type="checkbox" class="hiddencheckbox" id="c1" ng-model="updateProfile.changeAddress"/>

          </div>
          <div height="auto" ng-show="user.changed">
          <input ng-model="queryAddress" class="addressinput" placeholder="Find address"/> <button id="locationedit" ng-click="submitAddress(queryAddress, user)"><img id="search" src="/imgs/search.png"></button>
              <div ng-repeat="result in user.results" class="addressedit" ng-click="assignLocation(result, user)">
                  {{result.formatted_address}}
              </div>
            </div>
        
        <!--<textarea class="descriptioninput" placeholder="Tell us about yourself!" type='text' name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-model="user.description"/></textarea>-->


</div>
</div>

<div id="dishcontainer">
  <div id="profileinnercontainer">
    
    <div id="repeateditem" ng-repeat="dish in user.dishes">
      <form>
        <div id="listitem">
          
          <div id="dishbanner">
            <div class="dishthumbnail">
              <img class="img-thumbnail" src="/imgs/gordon.jpg" />
            </div>
            {{dish.dishName}}
            <button ng-click="dish.edit=!dish.edit">Edit</button>
            <input type="submit" ng-click="editDish(dish)"/>
          </div>
        </div>
        <div ng-show="dish.edit" id="itemdetails">
            <input type="text" ng-model="dish.dishName"/>
            Active: <input type="checkbox" ng-model="dish.active"/>
            <label>Price:</label><input type="text" ng-model="dish.price"/><br>
            <label>Pickup time:</label>
            <input type="date" ng-model="dish.time.startTime"/>
            <input type="time" step="600" ng-model="dish.time.startTime"/><br>
            <label>To:</label>
            <input type="date" ng-model="dish.time.endTime" />
            <input type="time" step="600" ng-model="dish.time.endTime" /><br>
            <label>Description:</label>
          <input type="text" ng-model="dish.description"/><br>
          <label>Phone:</label>
          <input type="text" ng-model="dish.phone"/><br>
          <label>Location:</label>
          <input type="text" ng-model="dish.location"/><br>
          <input type="text" ng-model="dish.queryAddress" /><button ng-click="submitAddress(dish.queryAddress, dish)">Find Address</button>
          <div ng-repeat="result in dish.results" ng-click="assignLocation(result, dish)">
              {{result.formatted_address}}
          </div>
          
        </div>
      </form>
    </div>
  </div>

<div id="profileinstruction" text-align="center">
  Here's a list of the dishes you bought or sold this week!
</div>

