<ul class="nav">
  <a align="center" href="#/home"><li>Home</li></a>
  <a align="center" href="#/aboutus"><li>About Us</li></a>
  <a align="center" href="#/home"><li><img height="35px" src="/imgs/chefhat.png"></li></a>
  <a align="center" href="#/browse"><li>Browse</li></a>
  <a align="center" href="#/account"><li>My Account</li></a>
</ul>

<!-- <div id="profilepage"> -->
  <!-- <div id="profilecontainer"> -->

<!-- <div id="thumbnailbackground"> -->

<div id="profilebanner"></div>


  <img id="profilethumbnail" border-radius="10px" src="/imgs/gordon.jpg" />



    <div id="profilesection">
      <form ng-submit="editProfile(user)">
        <div id="profileinfo">
          <!--CHERYL WROTE THIS AS A DEMO/TEST, FEEL FREE TO REMOVE-->
          <div ng-repeat="error in updateProfile.errors">{{error.errorMessage}}</div>
            <!--CHERYL'S TEST ENDS HERE-->
            <div id="profilename">
              {{user.firstName}}
              {{user.lastName}}
              dsfnadskjfhnashdlkfjdhflaksdjhflaskjdhf
            </div>

          <textarea class="descriptioninput" placeholder="Tell us about yourself!" type='text' name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/></textarea><br>

          <label for="phone" class="profilelabel">Phone:</label>
          <input class="profileinput" type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>

          <label class="profilelabel" for="firstName">Address:</label>
          <input class="profileinput" type='text' ng-model="user.location" name="adress" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/><br>
          <input id='profileedit' type="submit" value="Save Edits" ng-show="user.changed" ng-init="user.changed=false"/>
      </form>
    </div>
</div>


<div id="profilecontainer">
  <div id="profileinnercontainer">
    
    <div id="repeateditem" ng-repeat="dish in user.dishes">
      <form ng-submit="editDish(dish)">
        <div id="listitem" ng-click="showDetails = !showDetails">
          
          <div id="dishbanner">
            <div class="dishthumbnail">
              <img class="img-thumbnail" src="/imgs/gordon.jpg" />
            </div>
            <input type="text" ng-model="dish.dishName" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
            <input type="text" ng-model="dish.price" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
            Active: <input type="checkbox" ng-model="dish.active" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          </div>
        </div>
        <div ng-show="showDetails" id="itemdetails">
          <input type="text" ng-model="dish.description" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.time" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.phone" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.location" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="submit" value="Save Edits" ng-show="dish.changed"/>
        </div>
      </form>
    </div>
  
  
  </div>

<div id="profileinstruction" text-align="center">
  Here's a list of the dishes you bought or sold this week!
</div>

