<ul class="nav">
  <a align="center" href="#/home"><li>Home</li></a>
  <a align="center" href="#/aboutus"><li>About Us</li></a>
  <a align="center" href="#/home"><li><img height="35px" src="/imgs/chefhat.png"></li></a>
  <a align="center" href="#/browse"><li>Browse</li></a>
  <a align="center" href="#/account"><li>My Account</li></a>
</ul>

<!-- <div id="profilepage"> -->

<div id="profilebanner"></div>


<img id="profilethumbnail" border-radius="10px" ng-src="{{user.photoUrl}}" />

<div id="profilecontainer">
    <div id="profilename">
        {{user.firstName}}
        {{user.lastName}}
    </div>
    
    <div id="infocontainer">
          <!--CHERYL WROTE THIS AS A DEMO/TEST, FEEL FREE TO REMOVE-->
          <!--<div ng-repeat="error in updateProfile.errors"></div>-->
          <!--<div ng-show="user.updated">Profile Updated!</div>-->
          {{updateProfile.statusMessage}}
            <!--CHERYL'S TEST ENDS HERE-->
        <form ng-submit="editProfile(user)">
          <textarea class="descriptioninput" placeholder="Tell us about yourself!" type='text' name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-model="user.description" ng-change="user.changed=true"/></textarea>
        
          <label for="phone" class="profilelabel">Phone:</label>
          <input class="profileinput" type='text' ng-model="user.phone" name="phone" ng-class="{focus: focus, blur: blur}" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true" ng-change="user.changed=true"/>

          <label class="profilelabel">Address:</label><div class="profileinput">{{user.location}
              <input type="checkbox" class="hiddencheckbox" id="c1" ng-model="updateProfile.changeAddress"  ng-change="user.changed=true"/>
              <label for="c1"></label>
          </div>
          <div height="auto" ng-show="updateProfile.changeAddress">
          <input ng-model="queryAddress" class="addressinput" placeholder="Find address"/> <button ng-click="submitAddress(dish)">Find your Address!</button>
              <div ng-repeat="result in results" class="addressedit" ng-click="assignLocation(result)">
                  {{result.formatted_address}}
              </div>
        </div>

         <input id='profileedit' type="submit" value="Save Edits" ng-show="user.changed" ng-init="user.changed=false"/>
      </form>
</div>
</div>

<div id="dishcontainer">
  <div id="profileinnercontainer">
    <!--ORIGINAL PART FOR DISHES-->
    <!--<div id="repeateditem" ng-repeat="dish in user.dishes">-->
    <!--    <div id="listitem" ng-click="showDetails = !showDetails">-->

    <!--      <div id="dishbanner">-->
    <!--        <div class="dishthumbnail">-->
    <!--          <img class="img-thumbnail" src="/imgs/gordon.jpg" />-->
    <!--        </div>-->

    <!--        <div id="dishtitle">{{dish.dishName}}</div>-->
    <!--        <div id="dish.price">{{dish.price}}</div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div ng-show="showDetails" id="itemdetails">-->
    <!--      <p align="center">{{dish.description}}</p>-->
    <!--      <div id="dish.time">{{dish.time}}</div>-->
    <!--      <div id="dish.phone">{{dish.phone}}</div>-->
    <!--      <div id="dish.address">{{dish.location}}</div>-->
    <!--    </div>-->
    <!--</div>-->
    
    <div id="repeateditem" ng-repeat="dish in user.dishes">
      <form ng-submit="editDish(dish)">
        <div id="listitem" ng-click="showDetails = !showDetails">
          
          <div id="dishbanner">
            <div class="dishthumbnail">
              <img class="img-thumbnail" src="/imgs/gordon.jpg" />
            </div>
            <input type="text" ng-model="dish.dishName" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
            <input type="text" ng-model="dish.price" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
            Active: <input type="checkbox" ng-model="dish.active" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          </div>
        </div>
        <div ng-show="showDetails" id="itemdetails">
          <input type="text" ng-model="dish.description" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.time" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.phone" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="text" ng-model="dish.location" ng-change="dish.changed=true" ng-focus="focus=true;blur=false" ng-blur="focus=false;blur=true" ng-init="focus=false;blur=true"/>
          <input type="submit" value="Save Edits" ng-show="dish.changed"/>
        </div>
      </form>
    </div>
  </div>

<div id="profileinstruction" text-align="center">
  Here's a list of the dishes you bought or sold this week!
</div>

