<p align="center"><label>Dish</label><input type="text" ng-model="dish.dishName" /></p>
<p align="center"><label>Description</label><input type="text" ng-model="dish.description" /></p>

kjhljkhkjhlkjhl