<link rel="stylesheet" type="text/css" href="submitdish.css">

<div class="submitlogo" align="center">
  <img src="imgs\Faded Logo.jpg" height="150px" width="120px">
  <p class="title">Submit a Dish</p>
</div>

<div class="submitdish">

  <form align="center" method="post" action="index.html" class="form">
    <p><input type="text" ng-model="dish" placeholder="Dish" ></p>
    <p><input type="text" ng-model="description" placeholder="Description"></p>
    <p><input type="text" ng-model="price" placeholder="Price"></p>
    <p><input type="text" ng-model="phone" placeholder="Phone"></p>
    <p><input type="text" ng-model="location" placeholder="Location"></p>
    <p><input type="text" ng-model="time" placeholder="Time"></p>
    <p class="submit"><input type="submit" value="Submit Dish"></p>

  </form>
</div>

<div>
  <div id="footer" align="center">
    <p>Contact Us</p>
    <p id="footer">inquiries@eatappetite.com</p>
  </div>
</div>
