<h1>Testing stuff, Paul don't change this</h1>

<form ng-submit="submitAddress(user)">
    <label>Address: </label><input ng-model="user.location" />
    <input type="submit" value="Try To Find Your Address!" ng-click="submitAddress(user)">
</form>

<h3>Query String: {{user.queryString}}</h3>
<hr>
<p>{{error}}</p>

My name is Paul

signout function complete <button ng-click="signout()">Sign Out!</button>

    
    
<form name="myForm">
   <label for="exampleInput">Pick a date in 2013:</label>
   <input type="date" ng-model="time.start" placeholder="yyyy-MM-dd" required />
   <input type="time" ng-model="time.start" required />

    <input type="date" ng-model="time.end" placeholder="yyyy-mm-dd" required />
    <input type="time" ng-model="time.end" required />
    {{time.start}} ; {{time.end}}
   <div role="alert">
     <span class="error" ng-show="myForm.input.$error.required">
         Required!</span>
     <span class="error" ng-show="myForm.input.$error.date">
         Not a valid date!</span>
    </div>
    <tt>value = {{time.startTime | date: "yyyy-MM-dd"}}</tt><br/>
</form>

<style>
    .choices {
        border: 1px solid #333;
        background-color: #f0f0f0;
        margin: 5px 0;
    }
    .choices:hover {
        cursor: pointer;
    }
    
    img {
        width: 50px;
        height: auto;
    }
</style>
