<h1>Testing stuff, Paul don't change this</h1>


<h1 ng-click="logout()">Logout</h1>


<br>
<hr><br>
<h2 ng-if="!parentController.user">You're not logged in...boo</h2>
<div ng-if="parentController.user">
    <h2>Logged in as {{parentController.user.firstName}} {{parentController.user.lastName}}</h2>
    {{dobDay}} {{dobMonth}} {{dobYear}} {{tos}} {{legalFirstName}} {{legalLastName}}<br>
    Legal birth day: <input type="number" ng-model="accountInfo.day" min="1" max="31"><br>
    Legal birth month: <input type="number" ng-model="accountInfo.month" min="1" max="12"><br>
    Legal birth year: <input type="number" ng-model="accountInfo.year" min="1900" max="2016"><br>
    I accept the terms of services <input type="checkbox" ng-model="accountInfo.tos"><br>
    Legal first name: <input type="text" ng-model="accountInfo.firstName"><br>
    Legal last name: <input type='text' ng-model="accountInfo.lastName"><br>
<button ng-click="createStripeAccount(accountInfo)">Create Stripe Managed Account</button>
<p>{{res}}</p>    
<button ng-click="getMyAccount()">Get Account info</button>
<p>{{getAccount}}</p>
    
</div>
