<h1>Testing stuff, Paul don't change this</h1>

<form ng-submit="submitAddress(user)">
    <label>Address: </label><input ng-model="user.location" />
    <input type="submit" value="Try To Find Your Address!" ng-click="submitAddress(user)">
</form>

<h3>Query String: {{user.queryString}}</h3>
<hr>
<p>{{error}}</p>

My name is Paul

signout function complete <button ng-click="signout()">Sign Out!</button>

    
<br>
<hr><br>
<form enctype="multipart/form-data" accept="image/*" ng-submit="upload()">
   <input type="file"/>
   <input type="submit" value="Upload File"/>
</form>
<br>
    <div ng-controller = "myCtrl">
         <input type = "file" file-model = "myFile"/>
         <button ng-click = "uploadFile()">upload me</button>
    </div>

<style>
    .choices {
        border: 1px solid #333;
        background-color: #f0f0f0;
        margin: 5px 0;
    }
    .choices:hover {
        cursor: pointer;
    }
    
    img {
        width: 50px;
        height: auto;
    }
</style>
