.aboutus {
  padding:3%;
  margin-top: 60px;
}

.mainpic {
  width:100%;
  position:absolute;
}

.aboutbackground {
  background-image: url(imgs\spread-min.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin: 0;
  padding: 0;
  height: 800px;
  background-position:center;
  padding:10% 0;
}

.aboutuspictures {
  text-align: center;
}

.table {
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top:20px;
  color:#7f7f7f;
  font-family: 'Raleway';
  font-size:20px;
  vertical-align: middle;
}

.tableimage {
  text-align:center;
}

.subtable {
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top:0px;
  color:#a5a5a5;
  font-family: 'Raleway';
  font-size:15px;
}

#footer{
  display: block;
  width: 100%;
  position: absolute;
  height: auto;

}

#contactbox{
  position: absolute;
  display: block;
  width: 100%;
  right: 0;
}

#facebookicon{
  display: inline-block;
  width:32px;

    font-size:14px;
    line-height: 40px;
    height:32px;
    background:url(/imgs/facebook.png) left top no-repeat;
    margin:5px;
    text-align: left;
    cursor: pointer;

}

#envelopeicon{
  display: block;
  font-size:14px;
  line-height: 46px;
  margin: 0 auto;
  width:396px;
  height:32px;
    background:url(/imgs/envelope.png) left bottom no-repeat;
    margin-top: 4px;
    margin-bottom: 6px;
        text-indent: 32px;
        padding-left: 0px;
        cursor: pointer;

}

#instaicon{
  display: inline-block;
  font-size:14px;
  line-height: 40px;

  width:32px;
  height:32px;
    background:url(/imgs/Instagram.png) left top no-repeat;
    margin:5px;
    text-align: left;
    cursor: pointer;
}

#termsaboutus{
  display: inline-block;
  font-size:14px;
  line-height: 40px;
  height: auto;
  width:auto;
  position: relative;
  top:-10px;
  text-decoration: none;
  color: black;

}

#privacyaboutus{
  display: inline-block;
  font-size:14px;
  position: relative;
  top:-10px;
  height: auto;
  width:auto;
padding-left: 10px;
text-decoration: none;
color: black;



}


#linkedinicon{
  display: inline-block;
  font-size:14px;
  line-height: 40px;

  width:32px;

  height:32px;
    background:url(/imgs/linkedin.png) left top no-repeat;
    margin:5px;
    text-align: left;
}

  #footerhr{
    border-bottom: none;
    color: grey;

  }


.paratext {
    position: absolute;
    text-align: center;
    padding-top:0px;
    padding-bottom:50px;
    margin-top:0px;
    margin-bottom:0px;
    color:#a5a5a5;
    font-family: 'Raleway';
    font-size:15px;
    background-color: #ebf8fe;
    display: block;
    width: calc(100% - 250px);
    left: 0;
    height: 100%;

}

.teamtext {
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top:0px;
  padding-bottom:50px;
  margin-top:0px;
  margin-bottom:0px;
  color:#a5a5a5;
  font-family: 'Raleway';
  font-size:20px;
  background-color: #ebf8fe;
  font-style:italic;
}
.header {
  text-align: center;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  color:black;
  font-family: 'Raleway';
  font-size:25px;
  vertical-align: middle;
  background-color:#ebf8fe;
  margin-top:0;
  margin-bottom:0;
  height: 100%;
  width: calc(100% - 40px);
}

.aboutusvideo{
  padding-left: 40px;
  padding-right: 20px;
  width: calc(100% - 80px);
  min-height: 400px;
}

.partnertext {
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top:50px;
  padding-bottom:50px;
  color:black;
  font-family: 'Raleway';
  font-size:25px;
  vertical-align: middle;
  margin-top:0;
  margin-bottom:0;
}

.meetsomeone {
  display:inline-block;
  vertical-align: middle;
  width:33%;
  min-width: 200px;
}

.food {
  display:inline-block;
  vertical-align: middle;
  width:33%;
  min-width: 200px;
}

.money {
  display:inline-block;
  vertical-align: middle;
  width:33%;
  min-width: 200px;
}

.column {
  display: inline-block;
  float:inherit;
  padding-top: 60px;
  padding-bottom:60px;
}

.teamphoto {
  width:100%;
  opacity: 50%;
  -webkit-filter: grayscale(20%); /* Chrome, Safari, Opera */
  filter: grayscale(20%);
}
