  #browsebutton{
    font-size: 20px;
    color:#9b59b6;
}

#fromlabel{
    width:50px;
}

#tolabel{
   width:50px;
}


#submitform{
    font-family: Source Sans Pro;
}

.hiddencheckbox{
    
    display:none;
}

#whatchamakin{
    color: #75d0f4;
    font-size: 20px;
}

#where{
    color: #75d0f4;
    display:inline-block;
    font-size: 20px;
}

#defaultaddress{
    color:#ebd3bd;
    border: 1px solid #ebd3bd;
    margin-top:5px;
}

#searchbutton{
    display:inline-block;
    width:95px;
    height: 30px;
    padding:0;
    margin-top:0;
}

#addresssearch{
    border:1px solid #ebd3bd;
    height: 30px;
    top:0px;
    left:0px;
    margin-top:0;
    position:relative;
    display:inline-block;
    vertical-align:top;
    width:calc(100% - 99px);
}

#searchdiv{
    position:relative;
}

#exampletitle{
    height:auto;
    width:100%;
    max-width:320px;
    font-size:20px;
    margin:auto;
}

#submitedit{
    width:15px;
    height:15px;
    margin:0;
    background:url(/imgs/edit.png) left top no-repeat;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    cursor:pointer;
    float:right;
    margin:5px;
    display:inline-block;
    margin-top:13px;
    margin-bottom:0;
}

#submitleft{
    width:50%;
    float:left;
    height: auto;
    padding-top: 15px;
}

#whattime{
    color:#75d0f4;
    font-size: 20px;
}

.menusubmit{
    font-family:Source Sans Pro;
    width: 100%;
    height:auto;
    max-width: 320px;
    margin: auto;
}

#menuexample{
    font-family:Source Sans Pro;
    width: 100%;
    height:auto;
    max-width: 320px;
    margin: auto;
    color:#ebd3bd;
    margin-top:5px;
    font-size:25px;
}

#fullformsubmit{
    width:50%;
    height:auto;
    float:right;
}

#logisticssubmit{
    font-family:Source Sans Pro;
    width: 100%;
    margin:0 auto;
    max-width: 320px;
}

#logisticsexample{
    font-family:Source Sans Pro;
    width: 100%;
    margin:0 auto;
    max-width: 320px;
}



.menutextbox{
    height: 35px;
    border: 1px solid #ebd3bd;
    width: 100%;
    margin-top:5px;
}

#dishbox{
    position: relative;
    display: inline-block;
    width: calc(100% - 49px);
}

#pricebox{
    position: relative;
    display: inline-block;
    width: 45px;
}

#pricetextbox{
    width:100%;
    
}

#descriptiontextbox{
    height: 70px;
    width:100%;
    border: 1px solid #ebd3bd;
}

#descriptionlabel{
    font-size:10px;
}

.logistictextbox{
    border: 1px solid #ebd3bd;
    width:auto;
    height:25px;
    margin-right:10px;
    padding-bottom:5px;
    font-family:Source Sans Pro;
    font-size:15px;
}

#submitdate{
    width:135px;
}

#dishbanner {
  overflow: visible;
  position:relative;
  width: auto;
  margin: 0;
  border:0;
  height: 60px;
  border-radius: 13px 13px 0 0;
  z-index: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px  solid #75d0f4;
  min-height: 60px;
  line-height:55px;
  background-color: white;
  text-align: left;
  cursor: pointer;

}

#dishtitle {
  margin-left: 10px;
  color: black;
  font-family: Source Sans Pro;
  font-size: 30px;
  background-color: white;
  display: inline-block;
  height: auto;
}

#dishtime {
  color: white;
  font-family: Source Sans Pro;
  font-size: 1.5vw;
  float: bottom;
  text-align: center;
  border: 1px solid white;
  margin-bottom: 1px;
  border-radius: 10px;
  margin-left: 4px;
}


#dishphone {
  color: white;
  font-family: Source Sans Pro;
  font-size: 1.5vw;
  float: bottom;
  text-align: center;
  border: 1px solid white;
  margin-bottom: 1px;
  border-radius: 10px;
  margin-left: 4px;
}



#dishlocation {
  color: white;
  font-family: Source Sans Pro;
  font-size: 1.5vw;
  float: bottom;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  margin-left: 4px;
}



#dishprice {
  font-family: Source Sans Pro;
  font-size: 30px;
  background-color: white;
  display: inline-block;
  float:right;
  color: green;
  margin-right: 10px;
}

#itemdetails {
  background-color: #75d0f4;
  color: white;
  font-family: Source Sans Pro;
  border-radius: 0 0 13px 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px  solid #75d0f4;
  height: auto;
  margin: 0;
}

#map{
  float:right;
  position: absolute;
  top: 60px;
  left: 50%;
  bottom: 0;
  right: 0;
  height: auto;
}

.dishthumbnail {
  display: inline-block;
  float:left;
  margin: 0;
  padding: 2px;
  height:61px;
}

.img-thumbnail {
    width: 52px;
    height: 52px;
    padding: 0;
    margin: 0;
    border-radius: 10px 0 0 0;
}

#itemscontainer {
  position: fixed;
  width: 50%;
  top: 60px;
  bottom: 0 ;
  padding:3px;
  background-image: url(/imgs/board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  padding-bottom: 80px;
  padding-top: 50px;
  border: 2px solid #75d0f4;
}


#innercontainer {
  bottom: 80px;
  top: 50px;
}

#repeateditem {
  height: auto;
  margin: 3px;

}
#fullpage {
  position: absolute;
  height: 100%;
  width: 100%;
}

#selldish {
  float: bottom;
  z-index: 100;
  overflow-y: scroll;
}

#instruction{
  position: absolute;
  z-index: 200;
  width: auto;
  margin: 0;
  padding: 4px;
  top: 0;
  left:0;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.9);
  font-family: Source Sans Pro;
  color: orange;
}

#submitdishbutton {
  position: absolute;
  z-index: 200;
  width: 50%;
  margin: 0;
  padding: 0;
  bottom: 0;
}



@media (max-width:750px){

  #instruction{
    position: absolute;
    z-index: 200;
    width: 100%;
    margin: 0;
    padding: 4px;
    top: 0;
    left:0;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.9);
    font-family: Source Sans Pro;
    color: red;
    height: 50px;
  }

  #submitdishbutton {
    position: absolute;
    z-index: 200;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    background-color: white;
  }

  #dishbanner {
    overflow: visible;
    position:relative;
    width: auto;
    margin: 0;
    border:0;
    height: 60px;
    border-radius: 13px 13px 0 0;
    z-index: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px  solid #75d0f4;
    min-height: 60px;
    line-height:55px;
    background-color: white;
    text-align: center;
    cursor: pointer;

  }

  #map{
    float:right;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100% !important;
    height: 300px;
    flex: 1 1 auto;
  }

  #itemscontainer {
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    top: 360px;
    bottom: 0;
    padding:3px;
    background-image: url(/imgs/board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    flex: 1 1 auto;
    padding-top: 50px;
    border: 2px solid #75d0f4;
  }
  #dishtitle {
    font-size: 4.0vw;
  }

  #dishprice {
    font-size: 4.0vw;
  }

}
