/* The Modal (background) */
.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal4select {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modal-content4 {
    font-family: 'Raleway', sans-serif;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
    height: 200px;
    text-align: center;
}

/* The Close Button */
.close4 {
    color: #aaa;
    float: right;
    font-weight: bold;
    font-size: 22px;
}

.close4:hover,
.close4:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.dishdescription{
  color: grey;
  font-family: 'Raleway', sans-serif;
  width:auto;
  height: auto;
    margin-right: 0px;
    width:auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:5px;
    min-width: 0;
    background-color: white;
    padding: 5px 20px 5px 20px;
    text-align: center;
  }

#submitform{
    font-family: 'Raleway', sans-serif;
}

.hiddencheckbox{
    display:none;
}

#dishbanner {
  overflow: hidden;

  position:relative;
  width: auto;
  border: 2px solid white;
  border-radius: 14px;
  margin: 0;
  height: 98px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 60px;
  background-color: white;
  text-align: left;
  cursor: pointer;
  text-overflow: ellipsis;
}

.dishselect{
    border: 2px solid white;
}

.dishselect2{
    border: 2px solid #75d0f4;

}

#profileflex{
    margin-left: 10px;
    width:calc(100% - 130px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    min-width: 0;

}
#dishtitle {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: auto;
  width: auto;
  margin-right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left:5px;

}

#dishtime {
  color: #75d0f4;
  font-family: 'Raleway', sans-serif;
  width:auto;
  height: auto;
    margin-right: 0px;
    width:auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:5px;
    min-width: 0;

}

.chefname{
   font-family: 'Raleway', sans-serif;
   height: auto;
   word-wrap: break-word;
   display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:5px;
}


#dishphone {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 1px;
  margin-left: 4px;
  border-radius:14px;
}

#dishlocation {
  color: white;
  font-family: 'Raleway', sans-serif;
  float: bottom;
  text-align: center;
  border-radius: 10px;
  margin-left: 4px;
}



#dishprice {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  display: inline-block;
  color: green;
  position: absolute;
  padding: 5px;
  padding-right:15px;
  padding-left: 5px;
  margin: auto;
  top: 0; right: 0;
  height: auto;
  background-color: white;
  border-radius: 0 10px 10px 0px;
}

.order {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  display: inline-block;
  color:white;
  font-size: 14px;
  position: absolute;
  padding: 2px;
  margin: auto;
  top: 32px; right: 0;
  height: auto;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}

.order:hover{
  background-color: green;
}

#pending {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  display: inline-block;
  color:blue;
  font-size: 14px;
  position: absolute;
  padding: 2px;
  margin: auto;
  top: 32px; right: 0;
  height: auto;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

#itembox{
padding-right:40px;
width:auto;
height:90px;
display: block;
overflow-y: hidden;
}

#itemdetails {
  background-color: #75d0f4;
  color: white;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto;
  margin: 4px;
  border-radius:14px;

}

#map{
  float:right;
  top:60px;
  position: absolute;
  right: 0;
  overflow: auto;
  width: 60%;
  display: inline-block;
  height:calc(100% - 60px);

}

.dishthumbnail {
  display: inline-block;
  float:left;
  margin: 0;
  padding: 2px;
  height:90px;
}

.img-thumbnail {
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    display:inline-block;
    object-fit: cover;
}

#itemscontainer {
  position: relative;
  width:40%;
  height:calc(100% - 60px);
  top: 60px;
  background-color: white;
  overflow-y: scroll;
  overflow: auto;
  margin:0;
}

#boughtseparate{
  font-family: 'Raleway', sans-serif;
}


#browserseparate{
  font-family: 'Raleway', sans-serif;
}


#innercontainer {
  position: relative;
  }

#activeboughtcontainer  {
  background-color: green;
  width: 100%;
  height:100px;
}

#repeateditem {
  height: auto;
  margin: 20px 10px 20px 10px;
  border-radius: 16px;
  border: 2px solid white;

}

#repeateditem:hover{
  border: 2px solid #75d0f4;
}
#fullpage {
  height: 100%;
  width: 100%;
}



@media (max-width:750px){

  #dishbanner {
    overflow: visible;
    position:relative;
    width: auto;
    margin: 0;
    border-radius: 10px;
    border:2px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 60px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    padding-right: 30px;
    display: flex;

  }

  #map{
    float:right;
    position: relative;
    width: 100% !important;
    height: 45%;
    flex: 1 1 auto;
  }

  #itemscontainer {
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    top: 360px;
    bottom: 0;
    padding:3px;
    background-color: white;
    padding-bottom: 80px;
    flex: 1 1 auto;
    border: 2px solid #75d0f4;
  }


}
