.dishdescription{
   padding:4px;
   margin:0;
  }

#submitform{
    font-family: 'Raleway', sans-serif;
}

.hiddencheckbox{
    display:none;
}

#dishbanner {
  overflow-x: hidden;
  position:relative;
  width: auto;
  margin: 0;
  height: 120px;
  border-radius: 13px;
  z-index: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 60px;
  background-color: white;
  text-align: left;
  cursor: pointer;
  text-overflow: ellipsis;
}

#dishbanner:hover{
    border: 2px solid #75d0f4;
}

.dishselect{
    border: 2px solid white;
}

.dishselect2{
    border: 2px solid #75d0f4;

}

#profileflex{
    margin-left: 10px;
    width:calc(100% - 130px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    min-width: 0;

}
#dishtitle {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: auto;
  width: auto;
  margin-right: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left:5px;

}

#dishtime {
  color: #75d0f4;
  font-family: 'Raleway', sans-serif;
  width:auto;
  height: auto;
    margin-right: 0px;
    width:auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:5px;
    min-width: 0;
}

.chefname{
   font-family: 'Raleway', sans-serif;
   height: auto;
   word-wrap: break-word;
     display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:5px;
}


#dishphone {
  color: white;
  font-family: 'Raleway', sans-serif;
  float: bottom;
  text-align: center;
  margin-bottom: 1px;
  border-radius: 10px;
  margin-left: 4px;
}



#dishlocation {
  color: white;
  font-family: 'Raleway', sans-serif;
  float: bottom;
  text-align: center;
  border-radius: 10px;
  margin-left: 4px;
}



#dishprice {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  background-color: white;
  display: inline-block;
  color: green;
  position: absolute;
  right:0px;
  top:0px;
  border-radius:13px;
  padding-right:5px;
}

#itemdetails {
  background-color: #75d0f4;
  color: white;
  font-family: 'Raleway', sans-serif;
  border-radius:13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 4px  solid #75d0f4;
  height: auto;
  margin: 0;
}

#map{
  float:right;
  top:0;
  position: relative;
  right: 0;
  overflow: auto;
  height:100%;
  width: 60%;
  display: inline-block;
  height:calc(100% - 60px);

}

.dishthumbnail {
  display: inline-block;
  float:left;
  margin: 0;
  padding: 2px;
  height:auto;
}

.img-thumbnail {
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    display:inline-block;
}

#itemscontainer {
  position: relative;
  width:40%;
  top: 0px;
  padding:3px;
  background-color: white;
  overflow-y: scroll;
  overflow: auto;
  margin:0;
  display: inline-block;
  height:calc(100% - 60px);
}


#innercontainer {
  bottom: 80px;
  top: 50px;
}

#repeateditem {
  height: auto;
  margin: 10px;

}
#fullpage {
  position: absolute;
  height: 100%;
  width: 100%;
}

#selldish {
  float: bottom;
  z-index: 100;
  overflow-y: scroll;
}

#instruction{
  position: absolute;
  z-index: 200;
  width: auto;
  margin: 0;
  padding: 4px;
  top: 0;
  left:0;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Raleway', sans-serif;
  color: orange;
}



@media (max-width:750px){

  #instruction{
    position: absolute;
    z-index: 200;
    width: 100%;
    margin: 0;
    padding: 4px;
    top: 0;
    left:0;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.9);
    font-family: 'Raleway', sans-serif;
    color: red;
    height: 50px;
  }

  #dishbanner {
    overflow: visible;
    position:relative;
    width: auto;
    margin: 0;
    border:2px solid white;
    border-radius: 13px;
    z-index: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 60px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    padding-right: 30px;
    display: flex;


  }

  #map{
    float:right;
    position: relative;
    width: 100% !important;
    height: 45%;
    flex: 1 1 auto;
  }

  #itemscontainer {
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    top: 360px;
    bottom: 0;
    padding:3px;
    background-color: white;
    padding-bottom: 80px;
    flex: 1 1 auto;
    padding-top: 50px;
    border: 2px solid #75d0f4;
  }


}
