.background{
  background-image: url(/imgs/Optimized-appetite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 650px;
  background-position:center;
  padding: 7.5% 0;
}

.homebuttons {
  padding: 20% 0;
}

.quotes {
  text-align:center;
  font-size:25px;
  color:#7f7f7f;
  font-style:italic;
  padding-top: 20px;
  padding-bottom:1px;
  height:50px;
  font-family: Source Sans Pro;
}

.ourmission {
  color:#7f7f7f;
  padding: 10px;
  font-size:35px;
  text-align:center;
}

.appscreenshotcontainer {
  font-size: 20px;
  color:#7f7f7f;
  font-family:serif;
  text-align: justify;
  width: 250px;
  display: inline-block;
  text-align: center;
  margin: 20px;
  font-family: Source Sans Pro;
}

#buttonpadding {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}
