.background{
  background-image: url(/imgs/Optimized-appetite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 650px;
  background-position:center;
  padding: 7.5% 0;
}

.homebuttons {
  padding: 20% 0;
}

#termsconsent{
    text-align:center;
    font-family:Source Sans Pro;
    
}


.quotes {
  text-align:center;
  font-size:25px;
  color:#7f7f7f;
  font-style:italic;
  padding-top: 20px;
  padding-bottom:1px;
  height:50px;
  font-family: Source Sans Pro;
}

.ourmission {
  color:#7f7f7f;
  padding: 10px;
  font-size:35px;
  text-align:center;
}

.appscreenshotcontainer {
  font-size: 20px;
  color:#7f7f7f;
  font-family:serif;
  text-align: justify;
  width: 250px;
  display: inline-block;
  text-align: center;
  margin: 20px;
  font-family: Source Sans Pro;
}

#buttonpadding {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logintextbox{
	padding: 10px;
	border: 1px solid #ebd3bd;
	background: transparent;
	color: #b09a86;
	font-weight: 300;
	font-size: 2.2em;
	height: 35px;
	margin-left:5px;
	margin-right:5px;
	width:100%;
}

#firstNameregister{
    width:100%;
    display:inline-block;
}

#lastNameregister{
    width:100%;
    display:inline-block;
}

#firstnamebox{
    width:49%;
    display:inline-block;
}

#lastnamebox{
    width:49%;
    display:inline-block;
}

.registerlabel{
    max-width:110px;
    margin:0px 0px 0px 5px;
}

#loginbutton{
    font-family: Source Sans Pro;
}

.labelmargin{
    margin-left: 5px;
}

#buttonfont{
    font-size: 20px;
    padding:15px 15px 15px 15px;
    font-family: Source Sans Pro;
    cursor: pointer;
}

.homepadding{
    
    margin-left:5px;
    margin-right:5px;
}