
.nav{
  background-color: #75d0f4;
  color: #ffffff;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Source Sans Pro;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 98;
  text-decoration:none !important;
}

.nav > a {
    text-decoration: none;
}


.navlogo{
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.navelements {
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
  display:inline;
  color: #ffffff !important;
  vertical-align:20px;
}

#logout {
    position:absolute;
    right:20px;
    top:21px;
    border-radius:5px;
    border:none;
    color:white;
    cursor: pointer;
    background-color: #9b59b6;
    font-size:14px;
    font-family: Source Sans Pro;
    padding: 5px 5px 5px 5px;

}
  
