
.nav{
  background-color: #75d0f4;
  color: #ffffff;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Source Sans Pro;
  height: 60px;
  top: 0;
  width: 100%;
  z-index: 98; 
  vertical-align:middle;

}


.navlogo{
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.navelements {
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  padding: 0px 15px 15px 15px;
  display:inline;
  line-height:60px;
  color: #ffffff;
}


  
