#profilebanner{
  background-image: url(/imgs/foodwall.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
  height: 120px;
  top:60px;
  width: calc(100% - 300px);
  background-position:center;
  right:0;
  overflow-x: hidden;
  position: absolute;
  display:block;
}

#username{
  text-align: center;
  font-size:28px;
  font-family: Source Sans Pro;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}

#phonebox{
  display: table;
  height:50px;
  width:100%;
}

input.blur{
  border-width: 0px;
  color: black;
  outline-width: 0;
  outline: none;
  margin-top: 10px;
  height: 39px;
}

textarea.blur{
  border-width: 0px;
  color: black;
  outline-width: 0;
  outline: none;
  height: 74px;
  margin-top: 10px;
  border: 1px solid #CCCCCC;
}

label {
  display: inline-block;
  width:auto;
  }


*::-webkit-input-placeholder {
    color: grey;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: grey;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: grey;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: grey;
}

.infolabel {
  left:0;
  font-family: Source Sans Pro;
  font-size: 16px;

}

#profileview {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: beige;
}


#profilethumbnail {
  width: 200px;
  height: 200px;
  left: 50px;
  position: fixed;
  display:block;
  margin:auto;
  top:80px;
  border-radius: 5px;
  object-fit:cover;
}

#profileinfo{
  top:0;
  left:0;
  height: auto;
  position:relative;
  width:360px;
  padding-top: 100px;
  clear: both;
  padding-left: 15px;
  font-family: Source Sans Pro;
  font-size: 16px;
}

#profileinfo form{
  width: 100%;
}

#profilebox{
  position: relative;
  left: 80px;
  width:auto;
  display:flex;
}

.profileinput {
  width: 140px;
  height: auto;
  outline: none;
  color: black;
  font-size: 14px;
  font-family: Source Sans Pro;
  text-align: center;
  float:right;
  border:none;
  display: table-cell;
  vertical-align: middle;
  margin-right: 60px;
  border: 1px solid grey;
  margin-top: 14px;
  margin-bottom: 14px;

}

.profileinputedit {
  width: 140px;
  height: 50px;
  outline: none;
  color: black;
  font-size: 14px;
  font-family: Source Sans Pro;
  text-align: center;
  float:right;
  border:none;
  display: table-cell;
  vertical-align: middle;
  margin-right: 60px;
}

.profileinputeditaddress {
  width: 140px;
  height: auto;
  outline: none;
  color: black;
  font-size: 14px;
  font-family: Source Sans Pro;
  text-align: center;
  float:right;
  border:none;
  display: table-cell;
  vertical-align: middle;
  margin-right: 60px;
}

.displaynone{
  display:none;
}

#addresssearchbox {
  position: relative;
  display: table;
  left: 0px;
  right: 0px;
  height: calc(100% - 122px);
  float: bottom;
  width: 100%;
}


.addressedit{
  width: 100%;
  background-color: #75d0f4;
  outline: none;
  border: none;
  color: white;
  font-size: 14px;
  font-family: Source Sans Pro;
  text-align: center;
  display: inline-block;
  float:right;
  height: auto;
  border: 1px solid #75d0f4;
  margin-top: 10px;
  cursor: pointer;

}

.descriptioninput{
  position:relative;
  width: calc(100% - 20px);
  margin: 0 auto;
  margin-top: 10px;
  height: 74px;
  display: block;
  outline: none;
  color: black;
  font-size: 20px;
  font-family: Source Sans Pro;
  text-align: left;
  right:0;
  border: 1px solid #CCCCCC;
}

#profilename{
  width:100%;
  font-family: Source Sans Pro;
  font-size: 40px;
  word-wrap: break-word;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

#profilecontainer{
  position: fixed;
  top: 280px;
  left: 0;
  width:300px;
  bottom:0;
  background-color: white;
}

#infocontainer{
    position: absolute;
    top: 280px;
    left:0;
    width: 300px;
    overflow: auto;
    overflow-y:scroll;
    bottom: 0;
}

#profileinfo{
  position: absolute;
  bottom: 0;
  padding-top:0;
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 0px;
  height: auto;
  top: 100px;
  width: 100%;
}


#dishcontainer {
  position: fixed;
  top: 180px;
  right:0;
  width: calc(100% - 301px);
  height: auto;
  overflow-y: scroll;
  bottom: 0;
  background-color: white;
  flex: 1 1 auto;
}

#profileinstruction{
  position: absolute;
  z-index: 200;
  width: 100%;
  margin: 0;
  padding: 4px;
  top: 0px;
  left:0;
  border: 1px solid black;
  font-family: Source Sans Pro;
  color: black;
  text-align:center;
}

/*#profilephone{*/
/*    position: relative;*/
/*    top: 0px;*/
/*    display: inline-block;*/
/*    width: 100%;*/

/*}*/

#profileaddress{
    position: relative;
    top: 0px;
    width: calc(100% - 20px);
}

.addressresult{
  overflow-y: scroll;
  position: absolute;
  height:auto;
  width: calc(100% - 20px);
  top: 50px;
  bottom:55px;
  padding:10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.hiddencheckbox{
    display:none;
}

#phoneedit {
    margin:0;
    float: right;
    vertical-align: bottom;
    margin-top:5px;
    background:url(/imgs/edit.png) left top no-repeat;
    cursor:pointer;
}


input[type="checkbox"]:checked + label {
    background:url(/imgs/edit.png) left top no-repeat;

}

.addressinput{
  position:absolute;
  width: 140px;
  height: auto;
  outline: none;
  color: black;
  font-size: 14px;
  font-family: Source Sans Pro;
  text-align: center;
  float:right;
  border:none;
  display: table-cell;
  vertical-align: middle;
  right: 60px;
  border: 1px solid grey;
  margin-top: 14px;
  margin-bottom: 14px;

}

#locationedit{
  position: absolute;
  width:16px;
  height:16px;
  background:url(/imgs/search.png) left top no-repeat;
  position:absolute;
  float:right;
  cursor:pointer;
  margin:17px;
  right:0;
  border:none;
}

#editbutton{
    width:16px;
    height:16px;
    background:url(/imgs/edit.png) left top no-repeat;
    cursor:pointer;
    position:absolute;
    float:right;
    margin:10px;
    margin-left: 17px;
    margin-right: 17px;
    top: 0px;
    right:0px;
}

#phoneicon{
    width:16px;
    height:16px;
    background:url(/imgs/telephone.png) left top no-repeat;
    position:absolute;
    float:left;
    margin:10px;
    margin-left: 60px;
    margin-top:17px;
    margin-bottom:17px;
}

#addressicon{
  width:16px;
  height:16px;
  background:url(/imgs/home.png) left top no-repeat;
  position:absolute;
  float:left;
  margin:10px;
  margin-left: 60px;
  margin-top:17px;
  margin-bottom:17px;
}



#profileedit{
  word-wrap: break-word;
  text-align: center;
  background-color: #75d0f4;
  color: white;
  display:table-cell;
  position:absolute;
  bottom:0;
  border:none;
  cursor:pointer;
  font-family: Source Sans Pro;
  font-size:15px;
  width: calc(100% - 20px);
  margin: 10px;
  height:35px;
  padding: 0;
}

.nameedit{
    width:auto;
    font-size: 30px;
}

.nameinput {
  width: calc(48% - 65px);
  margin-top: 10px;
  outline: none;
  color: black;
  padding: 5px;
  font-size: 20px;
  font-family: Source Sans Pro;
  text-align: center;
  display: inline-block;
  float:right;
  margin-right: 10px;
}

.nameinputedit {
  display: none;
  }

#profilestatus {
    text-align: center;
    font-family: Source Sans Pro;
    width: auto;
    background-color:#f4f48d;
    color:#f39c12;
    position: fixed;
    top:60px;
    width:300px;
}

.accountdishlabel{
    width:120px;
    margin-left:5px;
    margin-right:5px;

}

#profiledishname{
    font-family: Source Sans Pro;
    display: inline-block;
    font-size:20px;
    margin-left: 10px;
    margin-right: 10px;
}

#accountpickup{
    width:131px;
}

#accountto{
    width:131px;
}

#accountsubmit{
    margin-left: 5px;
}


#logout {
    position:absolute;
    right:20px;
    top:17px;
    border-radius:5px;
    border:none;
    color:white;
    cursor: pointer;
    background-color: #9b59b6;
    font-size:14px;
    font-family: Source Sans Pro;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

#feedback{
    width:calc(100% - 26px) !important;
    height:75px;
    font-family: Source Sans Pro;
    margin:10px;
    margin-bottom: 0;
    font-size: 14px;
    word-wrap: break-word !important;
}

#feedbackbutton{

    background-color: #75d0f4;
    color: white;
    margin:0 auto;
    border:none;
    cursor:pointer;
    display: block;
    width:calc(100% - 20px);
    height: 35px;
    font-family: Source Sans Pro;
    font-size:16px;

}

#feedbackform{
    width:100%;
    position: absolute;
    bottom: 0;
    margin:0 auto;
    padding-bottom: 5px;
}

.addresshistory{
    color:#75d0f4;
    background-color: white;
    cursor: pointer;
    margin:5px;
}

#editsuccess{
    font-family: Source Sans Pro;
    display: inline-block;
    width: auto;
}

#submiteditprofile{
    margin-left: 5px;
    margin-right: 5px;
}

#profilenav{
  list-style: none;
  text-decoration: none;
  font-family: Source Sans Pro;
  width:100%;
  position:relative;
  padding: 0;
  margin: 0;
  top: 92px;
  height:28px;
}

#profilenav li{
  display:inline;
}

.profiletab{
  position:relative;
  width:25%;
  float: left;
  text-align: center;
  cursor:pointer;
  font-weight: bold;
  color:white;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tabclicked{
  position:relative;
  width:25%;
  float: left;
  text-align: center;
  cursor:pointer;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
  bottom:0;
  padding-top: 5px;
  padding-bottom: 5px;

}

.tabview{
  width:100%;
  height: 100%;
}

.expandcollapse-heading-collapsed {
  cursor: pointer;
  position: relative;
  z-index: 100000000;
}


.expandcollapse-heading-expanded {
  cursor: pointer;
  z-index: 100000000;
  position: relative;
  color: black;

}

/*
animation:*/

.slideDown.ng-hide {
  max-height:0;
  transition:max-height .6s ease;
  overflow:hidden;
  position:relative;
}

.slideDown {
  max-height:500px;
  transition:max-height 1s ease;
  overflow:hidden;
  position:relative;
}


.slideDown.ng-hide-add {
  animation-name: hide;
  -webkit-animation-name: hide;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

.slideDown.ng-hide-remove {
  animation-name: show;
  -webkit-animation-name: show;

  animation-duration: .5s;
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
