#profilebanner{
  background-image: url(/imgs/foodwall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 250px;
  width: 100%;
  background-position:center;
  overflow-x: hidden;
  position: fixed;
}

#profilebanner:hover{
  opacity: .8;
}

input.blur{
  border-width: 0px;
  color: black;
  background-color: #ebd3bd;
  outline-width: 0;
  outline: none;

}

textarea.blur{
  border-width: 0px;
  color: black;
  background-color: #75d0f4;
  outline-width: 0;
  outline: none;
  background: rgba(255, 255, 255, 0.3);

}

label {
  display: inline-block;
  width: 100px;
  }


*::-webkit-input-placeholder {
    color: grey;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: grey;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: grey;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: grey;
}

#profileedit{
  background-color: #75d0f4;
  color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border:none;
}


#profilethumbnail {
  width: 160px;
  height: 160px;
  left: 40px;
  position: fixed;
  display:block;
  margin:auto;
  border: 5px solid #75d0f4;
  top:165px;
  border-radius: 5px;
  z-index: 200;
}

#profileinfo{
  top:0;
  left:0;
  height: auto;
  position:relative;
  width:360px;
  padding-top: 100px;
  clear: both;
  padding-left: 15px;
  font-family: Source Sans Pro;
  font-size: 16px;
}

#profileinfo form{
  width: 100%;
}

#profilebox{
  position: relative;
  left: 80px;
  width:auto;
  display:flex;
}

.profileinput {
  width: 430px;
  outline: none;
  border: none;
  padding: none;
  background-color: #75d0f4;
  color: white;
  padding: 5px;
  margin: 10px;
  font-size: 25px;
  font-family: Source Sans Pro;
  text-align: center;
}

.descriptionbox{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  border: none;
  top:85px;
  margin-left: 5px;
  padding:5px;
  background: rgba(255, 255, 255, 0.9);

}


.descriptioninput{
  position: absolute;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  background-color: #ebd3bd;
  color: black;
  font-size: 20px;
  font-family: Source Sans Pro;
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}

#profilename{
  position: absolute;
  top:0px;
  left: 197px;
  width:auto;
  font-family: Source Sans Pro;
  font-size: 40px;
  right:0;
  word-wrap: break-word;
  text-align: center;
  display: block;
  padding-top:5px;
}

#profilecontainer{

  position: fixed;
  top: 250px;
  left: 0;
  width:50%;
  height:auto;
  bottom:0;
  background-color: white;
  border: 2px solid #75d0f4;
  overflow: auto;
  overflow-y:scroll;
}

.profilelabel{
  font-family: Source Sans Pro;
  font-size: 25px;

}

#profileinfo{
  position: absolute;
  bottom: 0;
  padding-top:0;
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 0px;
  height: auto;
  top: 100px;
  width: 100%;
}


#dishcontainer {
  position: fixed;
  top: 250px;
  right:0;
  width: 50%;
  height: auto;
  overflow-y: scroll;
  bottom: 0;
  padding:3px;
  background-image: url(/imgs/board.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 1 auto;
  padding-top: 30px;
  border: 2px solid #75d0f4;
}

#profileinstruction{
  position: absolute;
  z-index: 200;
  width: 100%;
  margin: 0;
  padding: 4px;
  top: 0px;
  left:0;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.9);
  font-family: Source Sans Pro;
  color: orange;
}
